<ion-view title="Security Group" class="bg-lightgrey">
  <script id="modalSecurityGroupDetail.html" type="text/ng-template">
    <ion-modal-view>
        <div class="bar bar-header item-input-inset">
        <button class="button button-clear ion-ios7-arrow-thin-down" style="margin-left:-12.5px;"
            ng-click="closeModal();">
            <i class="icon ion-android-close placeholder-icon placeholder-icon"></i>
        </button>
        </div>      
        <ion-content class="has-header bt-grey assertive">
        <form name="frm" novalidate>
            <div class="item padding">
            <div class="item item-divider">New Security Group Detail</div>
            <div class="row">
                <div class="input-field col">
                    <p>Authority *</p>
                    <select ng-model="formSecurityGroupDetail.talentsParameter" 
                        ng-options="type.value for type in optAuthority track by type.id"
                        required>
                    </select>
                  
                </div>
            </div>
            </br>
            <div class="row">
                <button class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light"
                ng-click="submitFormSecurityGroupDetail()"
                ng-disabled="frm.$invalid"
                style="font-weight:bold;background-color:#FF9800">SUBMIT</button>
            </div>
            </div>
        </form>
        </ion-content>
    </ion-modal-view>
  </script>
  <script id="modalSecurityMatrix.html" type="text/ng-template">
    <ion-modal-view>
      <div class="bar bar-header item-input-inset">
      <button class="button button-clear ion-ios7-arrow-thin-down" style="margin-left:-12.5px;"
          ng-click="closeModalSecurityMatrix();">
          <i class="icon ion-android-close placeholder-icon placeholder-icon"></i>
      </button>
      </div>      
      <ion-content class="has-header materialize">
      <form name="frmMatrix" novalidate>
          <div class="item padding">
          <div class="item item-divider">New Security Matrix</div>
          <div class="row">
            <div class="input-field col">
              <p><b>Name *</b></p>
              <input id="name" placeholder="Enter Name" type="text" class="validate" 
                name="name" required="true" ng-model="formSecurityMatrix.name" maxlength="40">
            </div>
          </div>
          <div class="row">
            <div class="input-field col">
              <p><b>Employee</b></p>
              <input type="text" ng-model="formSecurityMatrix.employeeName" disabled>
              <div class="item-icon-right">
                <button style="padding-right:38px;" class="button button-icon dark icon ion-ios-close"
                  ng-click="resetEmployee();"></button>
                <button class="button button-icon dark icon ion-ios-search" ng-click="openModalEmployee();"></button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col">
              <p><b>Divison</b></p>
              <input type="text" ng-model="formSecurityMatrix.division" disabled>
              <div class="item-icon-right">
                <button style="padding-right:38px;" class="button button-icon dark icon ion-ios-close"
                  ng-click="resetDivision();"></button>
                <button class="button button-icon dark icon ion-ios-search" ng-click="openModalDivision();"></button>
              </div>
            </div>
          </div>
          </br>
          <div class="row">
              <button class="btn waves-effect button-medium waves-light button button-balanced button-block"
              ng-click="submitFormSecurityMatrix()"
              ng-disabled="frmMatrix.$invalid"
              style="font-weight:bold;background-color:#FF9800">SUBMIT</button>
          </div>
          </div>
      </form>
      </ion-content>
  </ion-modal-view>
</script>
  <script id="modalDivision.html" type="text/ng-template">
    <ion-modal-view>
    <div class="bar bar-header item-input-inset">
      <button class="button button-clear ion-ios7-arrow-thin-down" style="margin-left:-12.5px;"
        ng-click="closeModalDivision();">
        <i class="icon ion-android-close placeholder-icon placeholder-icon"></i>
      </button>
      <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="search" ng-model="findByDivision.search" placeholder="Search Division Name"
          custom-on-enter="doResetPaging(); searchByDivision(0);">
      </label>
      <button class="button button-clear" ng-click="doResetPaging(); searchByDivision(0);">
        Search
      </button>
    </div>

    <ion-content class="has-header bt-grey assertive">
      <ion-list>
        <ion-item ng-repeat="p in listDivision" ng-click="getValueDivision(p.division)">
          <h4 class="positive">{{p.division}}</h4>
        </ion-item>
      </ion-list>
      <div class="item" ng-if="listDivision.length == 0 && findStatus == true && noDataShow == true">
        <h3 class="assertive">No data available</h3>
      </div>
      <div class="row" ng-if="listDivision.length > 0">
        <button ng-disabled="isFirst;" ng-click="loadPrevDivision();"
          class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light">
          Previous</button>
        <button ng-disabled="isLast;" ng-click="loadMoreDivision();"
          class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light">
          Next</button>
      </div>
    </ion-content>
  </ion-modal-view>
</script>
  <script id="modalEmployee.html" type="text/ng-template">
    <ion-modal-view>
    <div class="bar bar-header item-input-inset">
      <button class="button button-clear ion-ios7-arrow-thin-down" style="margin-left:-12.5px;" ng-click="closeModalEmployee();">
          <i class="icon ion-android-close placeholder-icon placeholder-icon"></i>
      </button>
      <label class="item-input-wrapper">
          <i class="icon ion-ios7-search placeholder-icon"></i>
          <input type="search" ng-model="findByNpk.search" placeholder="Search" maxlength="50"/>
      </label>
      <button class="button button-clear" ng-click="searchByEmployee(0);">
      Search  
      </button>
    </div>
  
    <ion-content class="has-header bt-grey assertive">
      <ion-list>
        <ion-item ng-repeat="p in listEmployee" ng-click="getValueEmployee(p)">
          <h3>{{p.fullName}}</h3>
          <h4 class="positive">{{p.employeeNo}}</h4>
        </ion-item>
      </ion-list>
      <div class="item" ng-if="listEmployee.length == 0 && findStatus == true && noDataShow == true">
        <h3 class="assertive">No data available</h3>
      </div>  
      <div class="row" ng-show="isLoadMoreShow">
        <button ng-disabled="isFirst;" ng-click="loadPrevEmployee();" class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light">Previous</button>
        <button ng-disabled="isLast;" ng-click="loadMoreEmployee();" class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light">Next</button>
      </div>      
    </ion-content>
  </ion-modal-view>
</script>

  <ion-content class="has-header materialize" scroll="true">
    <div class="row text-center" style="height:40px">
      <div class="col font-thin" ng-class="module.type === 'general' ? 'text-medium balanced bb' : ''"
        ng-click="chooseTab('general')">
        <b>General</b>
      </div>
      <div class="col font-thin" ng-class="module.type === 'detail' ? 'text-medium balanced bb' : ''"
        ng-click="chooseTab('detail')" ng-if="securityGroupId != 0">
        <b>Details</b>
      </div>
      <div class="col font-thin" ng-class="module.type === 'matrix' ? 'text-medium balanced bb' : ''"
        ng-click="chooseTab('matrix')" ng-if="securityGroupId != 0">
        <b>Matrix</b>
      </div>
    </div>
    <ion-refresher pulling-text="Pull to refresh" refreshing-text="Loading..." refreshing-icon="ion-loading-c"
      pulling-icon="ion-ios7-arrow-thin-down" on-refresh="refresh()">
    </ion-refresher>

    <div ng-if="module.type === 'general'">
      <form name="form" novalidate>
        <div class="list">
          <div class="item padding">
            <div class="row">
              <div class="input-field col">
                <p><b>Name *</b></p>
                <input id="value" placeholder="Enter Value" type="text" class="validate" name="value" required="true"
                  ng-model="frmSecurityGroup.groupName" maxlength="100">
              </div>
            </div>
            <div class="row">
              <button class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light"
                style="font-weight:bold;background-color:#FF9800; margin-top: 25px;"
                ng-click="submitFormSecurityGroup()" ng-disabled="form.$invalid">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div ng-if="module.type === 'detail'">
      <div class="card no-animate" ng-repeat="item in listSecurityGroupDetail">
        <div class="item item-text-wrap">
          <div>
            <h2 class="lead">{{item.authority}}</h2>
            <p class="text-small">{{item.modifiedDate | date: globalConstant.dateFormat}}</p>
          </div>
          <br />
          <p class="text-small">
            <span class="item-note positive">
              <img src="img\talents\mobile-interview\edit-32px.png" ng-click="editSecurityGroupDetail(item.id);"
                style="cursor: pointer;">
              <img src="img\talents\mobile-interview\deleteDocument-32px.png"
                ng-click="confirmDeleteSecurityGroupDetail(item.id);" style="cursor: pointer;">
            </span>
          </p>
        </div>
      </div>
      <div class="item" ng-if="listSecurityGroupDetail.length == 0">
        <div class="col col-100">
          <h2>No Data available</h2>
        </div>
      </div>
    </div>
    <div ng-if="module.type === 'matrix'">
      <div class="card no-animate" ng-repeat="item in listSecurityMatrix">
        <div class="item item-text-wrap">
          <div>
            <h2 class="lead text-medium">{{item.name}}</h2>
            <p class="text-small">{{item.modifiedDate | date: globalConstant.dateFormat}}</p>
          </div>
          <p class="text-small">
            <span class="item-note positive">
              <img src="img\talents\mobile-interview\edit-32px.png" ng-click="editSecurityMatrix(item.id);"
                style="cursor: pointer;">
              <img src="img\talents\mobile-interview\deleteDocument-32px.png"
                ng-click="confirmDeleteSecurityMatrix(item.id);" style="cursor: pointer;">
            </span>
          </p>
        </div>
      </div>
      <div class="item" ng-if="listSecurityMatrix.length == 0">
        <div class="col col-100">
          <h2>No Data available</h2>
        </div>
      </div>
    </div>

  </ion-content>
  <a class="btn-floating btn-sm waves-effect waves-light green lighten-1 no-animate"
    style="position:fixed; bottom:3%;right:5%;z-index:999" ng-if="module.type !== 'general'"
    ng-click="module.type == 'detail' ? addSecurityGroupDetail() : addSecurityMatrix()">
    <i class="icons ion-plus"></i></a>
</ion-view>
