<ion-view title="Self Service" class="bg-lightgrey">
  <ion-content class="has-header bg-lightgrey">
    <div class="row height-20 text-center stable-bg">
      <div class="col padding" ng-show="menu.payslip">
        <div class="card contact" ui-sref="app.choicepayslip">
          <div class="item item-text-wrap light-bg">
            <img src="img/talents/42/42_payslip.png" /><br />
            <span class="text-small">Payslips</span>
          </div>
        </div>
      </div>
      <div class="col padding" ng-show="menu.benefit">
        <div class="card contact" ui-sref="app.submitclaim">
          <div class="item item-text-wrap light-bg">
            <img src="img/talents/42/42_benefit.png" /><br />
            <span class="text-small">Benefit</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row height-20 text-center stable-bg">
      <div class="col padding">
        <div class="card contact" ui-sref="app.homeleave">
          <div class="item item-text-wrap light-bg">
            <img src="img/talents/42/42_timemanagement.png" /><br />
            <span class="text-small">Time Management</span>
          </div>
        </div>
      </div>
      <div class="col padding" ng-show="menu.payslip">
        <div class="card contact" ui-sref="app.choicesptai">
          <div class="item item-text-wrap light-bg">
            <img src="img/talents/42/42_pajak.png" /><br />
            <span class="text-small">SPT-AI</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row height-20 text-center stable-bg">
      <div class="col padding" ng-show="menu.payslip">
        <div class="card contact" ui-sref="app.perfomance">
          <div class="item item-text-wrap light-bg">
            <img src="img/talents/42/42_goal_perfom.png" /><br />
            <span class="text-small">Performance</span>
          </div>
        </div>
      </div>
      <div class="col padding" ng-show="menu.payslip">
        <div class="card contact" ui-sref="app.printletter">
          <div class="item item-text-wrap light-bg">
            <img src="img/talents/42/42_payslip.png" /><br />
            <span class="text-small">Print Letter</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row height-20 text-center stable-bg">
      <div class="col padding" ng-show="menu.payslip">
        <div class="card contact" ui-sref="app.payrollaccount">
          <div class="item item-text-wrap light-bg">
            <img src="img/talents/32_spd.png" /><br />
            <span class="text-small">Payroll Account</span>
          </div>
        </div>
      </div>
      <div class="col padding" ng-show="menu.payslip">
        <div class="card contact" ui-sref="app.printreport">
          <div class="item item-text-wrap light-bg">
            <img src="img/talents/42/42_payslip.png" /><br />
            <span class="text-small">Print Report</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row height-20 text-center stable-bg">
      <div class="col padding" ng-show="menu.payslip">
        <div class="card contact">
          <div class="item item-text-wrap light-bg" ng-click="openPP()">
            <img ng-src="img/talents/icon/SRT_PENGANGKATAN.png" />
            <br />
            <span class="text-small">Peraturan Perusahaan</span>
          </div>
        </div>
      </div>
      <div class="col padding" ng-show="profile.isLeader != true">
        <div class="card contact" ui-sref="app.summaryProfile">
          <div class="item item-text-wrap light-bg">
            <img src="img/talents/42/42-tecat.png" style="width: 90px; height: 41px;" />
            <br />
            <span class="text-small">Daily Test</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row height-20 text-center stable-bg">
      <div class="col padding" ng-show="menu.payslip">
        <div class="card contact" ui-sref="app.menudpa" ng-show="Result">
          <div class="item item-text-wrap light-bg">
            <img src="img/talents/dpa.png" /><br />
            <span class="text-small">Menu DPA</span>
          </div>
        </div>
      </div>
      <div class="col padding">
        <div class="card contact" ui-sref="app.spd-home" ng-if="profile.talentsAuthorities['SPD']">
          <div class="item item-text-wrap light-bg">
            <img src="img/talents/spd/spd_main_42.png" /><br />
            <span class="text-small">SPD</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row height-20 text-center stable-bg">
      <div class="col padding" ng-show="profile.isLeader == true">
        <div class="card contact" ui-sref="app.dailyTestReport">
          <div class="item item-text-wrap light-bg">
            <img src="img/talents/42/42-tecat.png" style="width: 75px; height: 30px;" />
            <br />
            <span class="text-small">Daily Test Report</span>
          </div>
        </div>
      </div>

      <div class="col padding" ng-show="menu.payslip">
        <div class="card contact" ui-sref="app.reassignpic" ng-show="isAttendanceAdmin">
          <div class="item item-text-wrap light-bg">
            <img src="img/talents/42/42_goal_perfom.png" /><br />
            <span class="text-small">Reassign PIC</span>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="row height-20 text-center stable-bg">
      <div class="col padding" ng-show="menu.payslip">
        <div
          class="card contact"
          ui-sref="app.approvaldelegation"
          ng-if="isLead"
        >
          <div class="item item-text-wrap light-bg">
            <img src="img/talents/42/42_payslip.png" /><br />
            <span class="text-small">Approval Delegations</span>
          </div>
        </div>
      </div>
      <div class="col padding" ng-show="menu.payslip"></div>
    </div> -->
  </ion-content>
</ion-view>
