<ion-view title="Change Marital Status" class="bg-lightgrey">

    <ion-nav-buttons side="right">
        <!-- <button class="button button-dark button-clear icon ion-ios-compose-outline" ui-sref="app.edit-biodata"></button>-->
    </ion-nav-buttons>



    <ion-content class="has-header bt-grey profile" scroll="true">
        <ion-list>

            <div class="item item-divider"><span class="pull-left">Current Marital Status</span> <span class="pull-right calm" style="padding-right:10px" ng-if="dataApprovalStatus!=null">{{dataApprovalStatus}}</span></div>
            <label class="item">{{currentStatus}}</label>
            <div class="item item-divider">New Marital Status *</div>
            <ion-checkbox ng-repeat="item in itens"
                      ng-model="item.checked"
                      ng-checked="item.checked" ng-click="updateSelection($index, itens, item.title)">
            {{ item.title }}
            </ion-checkbox>

            <div class="item item-divider">Attach Supporting Document</div>
            <div class="row" ng-show="appMode=='mobile'">
                  <button class="button button-block button-outline button-positive" ng-click="addPicture()"><i class="icon ion-ios-camera-outline"></i> Add Attachment</button>
            </div>
            <div class="row" ng-show="appMode=='web'">
                    <input id="inputImage" type="file" accept="image/*" ng-model="maritalStatus.imagesData" image="maritalStatus.imagesData" resize-max-height="1280" resize-max-width="720" resize-quality="0.8" resize-type="image/jpg" multiple="multiple" ng-image-compress/>
            </div>
            <div class="row post" ng-show="appMode=='mobile'" >
                  <div class="col" style="height:90px;width:90px" ng-repeat="items in maritalStatus.images" >
                    <img height="90px" width="90px"   ng-src="{{items.image}}" />

                    <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button></div>

            </div>
            <div class="row post" ng-show="appMode=='web'">

            <div class="col" ng-repeat="item in maritalStatus.imagesData" style="height:90px;width:90px"  >
                <img  ng-src="{{item.compressed.dataURL}}" height="90px" width="90px" /> <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button>
            </div>


            </div>
            <div class="row center" ng-show="appMode=='mobile'">
                <div class="col" style="max-height:90px;max-width:90px" ng-if="maritalStatus.imagesData.length==0"><a >
                    <img ng-src="{{image}}" height="90px" >
                                    </a></div>
            </div>
            <div class="row center" ng-show="appMode=='web'">
                 <div style="max-height:90px;max-width:90px" class="col"  ng-if="maritalStatus.imagesData==0">
                    <img ng-src="{{image}}" height="90px" >

                </div>
            </div>
            <h6 class="assertive">*Surat Nikah terbaru/ KK masing-masing</h6>
            <div class="row" style="padding-top:50px">
                <button ng-show="showButton==true" class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light" ng-click="send()">Send</button>
            </div>
        </ion-list>

    </ion-content>
</ion-view>
