<ion-view title="Contacts" cache-view="false">

    <ion-nav-buttons side="right">
        <button class="button button-icon dark icon ion-ios-search" ng-click="searchPopover.show($event)"></button>
    </ion-nav-buttons>

    <ion-content class="has-header" scroll="false">

        <ion-scroll class="bg-lightgrey" direction="y" style="height:100%">
            <div style="height:700px">
                <div class="row" ng-repeat="contact in contacts | filter: searchFilter track by $index" ng-if="$index % 2==0">

                    <div class="col">
                        <div class="card contact animated bounceIn item-remove-animate" on-hold="deletecontact(contacts[$index]);" ng-if="contacts[$index] !== undefined">
                            <div class="item item-image item-text-wrap">
                                <div><img ng-src="{{contacts[$index].photo}}"></div>
                                <h2 class="lead text-small mt">{{contacts[$index].name}}</h2>
                                <p class="">{{contacts[$index].desc}}</p>
                            </div>
                            <div class="item item-footer">
                                <div class="row no-padding">
                                    <div class="col no-padding"><i class="icon ion-ios-chatboxes-outline balanced"></i></div>
                                    <a href="tel:{{contacts[$index].phone}}" class="col no-padding bl-grey"><i class="icon ion-ios-telephone-outline positive"></i></a>
                                    <div class="col no-padding bl-grey"><i class="icon ion-ios-gear-outline royal"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card contact animated bounceIn item-remove-animate" on-hold="deleteContact(contacts[$index]);" ng-if="contacts[$index + 1] !== undefined">
                            <div class="item item-image item-text-wrap" ui-sref="tabs.contact-profile({contact: contacts[$index + 1]})">
                                <div><img ng-src="{{contacts[$index + 1].photo}}"></div>
                                <h2 class="lead text-small mt">{{contacts[$index + 1].name}}</h2>
                                <p class="">{{contacts[$index + 1].desc}}</p>
                            </div>
                            <div class="item item-footer">
                                <div class="row no-padding">
                                    <div class="col no-padding"><i class="icon ion-ios-chatboxes-outline balanced"></i></div>
                                    <a href="tel:{{contacts[$index + 1].phone}}" class="col no-padding bl-grey"><i class="icon ion-ios-telephone-outline positive"></i></a>
                                    <div class="col no-padding bl-grey"><i class="icon ion-ios-gear-outline royal"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ion-scroll>

    </ion-content>

</ion-view>