<ion-view title="About" cache-view="false">

  <ion-content class="has-header" scroll="false">

    <ion-scroll class="bg-lightgrey" direction="y" style="height:100%">
      <div class="container text-center">
        <br><br>
        <!-- <img src="img/talents/200x100-talentslogin.png"> -->
        <br><br>
        <p class="text-medium"><b>New TALENTS</b> - ACC Employee Self Service</p><br>
        <center><b>Version {{versionName}}</b>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
