<ion-view title="Category & Item" class="bg-lightgrey">
  <ion-nav-buttons side="right">
    <button class="button button-clear icon ion-ios-settings-strong" ng-click="openModalFilter()"></button>
  </ion-nav-buttons>
  <script id="modalFilter.html" type="text/ng-template">
    <ion-modal-view>
      <div class="bar bar-header item-input-inset">
          <button class="button button-clear ion-ios7-arrow-thin-down" style="margin-left:-12.5px;" ng-click="closeModalFilter();">
              <i class="icon ion-android-close placeholder-icon placeholder-icon"></i>
          </button>
      </div>
      <ion-content class="has-header bt-grey assertive">
          <div class="item padding">
              <div class="item item-divider">Filter By</div>
              <div class="row">
                  <div class="input-field col">
                      <p for="first_name">Name</p>
                      <input type="text" placeholder="type Name here ..." 
                      ng-model="filter.searchText">
                  </div>
              </div>
              <div class="row">
              <button class="btn waves-effect button-medium waves-light button button-balanced button-block" 
                  ng-click="closeModalFilter()">OK</button>
              </div>
          </div>
      </ion-content>
      </ion-modal-view>
  </script>
  <ion-content class="has-header bt-grey profile" scroll="true">
    <div class="row text-center" style="height:40px">
      <div class="col font-thin" ng-class="'text-medium balanced bb'"><b>Category</b></div>
    </div>
    <ion-refresher pulling-text="Pull to refresh" refreshing-text="Loading..." refreshing-icon="ion-loading-c"
      pulling-icon="ion-ios7-arrow-thin-down" on-refresh="refresh()">
    </ion-refresher>
    <div class="card" ng-repeat="item in listCategory | filter:filter.searchText">
      <div class="item item-text-wrap">
        <div ng-click="gotoDetailCategory(item.id)">
          <h2 class="lead">{{item.name}}</h2>
          <p class="text-small">{{item.modifiedDate | date: globalConstant.dateFormat}}</p>
        </div>
        <br />
        <p class="text-small">
          <span class="item-note positive">
            <img src="img\talents\admin\settings\deleteDocument-32px.png" ng-click="confirmDeleteCategory(item.id);"
              style="cursor: pointer;">
          </span>
        </p>
      </div>
    </div>
    <div class="item" ng-if="listCategory.length == 0">
      <div class="col col-100">
        <h2>No Data available</h2>
      </div>
    </div>
  </ion-content>
  <a class="btn-floating btn-sm waves-effect waves-light green lighten-1"
    style="position:fixed; bottom:3%;right:5%;z-index:999" ng-click="gotoDetailCategory(0);"><i
      class="icons ion-plus"></i></a>
</ion-view>
