<ion-view title="Surat Pernyataan Peraturan Perusahaan">
  <ion-content padding="false" class="has-header materialize" scroll="true">
    <div class="container text-left">
      <br />
      Berikut Link untuk melihat Peraturan Perusahaan :
      <br />
      <button
        class="btn waves-effect waves-light button button-balanced button-block waves-effect waves-light"
        style="
          font-weight: bold;
          background-color: #00bfff;
          width: fit-content;
        "
        ng-click="openPP()"
      >
        Link
      </button>
      <div
        style="
          background-color: #fff3f0;
          color: red;
          line-height: 1.5;
          font-size: 10px;
          border-style: none;
          text-align: justify;
        "
        class="item item-text-wrap"
      >
        <b>Disclaimer:</b>
        <br />
        Silahkan membaca Peraturan Perusahaan ACC {{periode}} melalui link di
        atas ini sebelum Anda submit Surat Pernyataan.
      </div>
      <br />
      <hr />
      <h2 class="text-center" style="font-weight: bold;">Surat Pernyataan</h2>
      <br />
      <br />
      Yang bertanda tangan di bawah ini,
      <br />
      <br />
      <table style="width: 100%;">
        <tr>
          <td>Nama</td>
          <td>:</td>
          <td><b>{{profile.employeeTransient.name}}</b></td>
        </tr>
        <tr>
          <td>NPK</td>
          <td>:</td>
          <td><b>{{profile.employeeTransient.assignment.employeeNo}}</b></td>
        </tr>
        <tr>
          <td>Alamat</td>
          <td>:</td>
          <td><b>{{item.address}}</b></td>
        </tr>
        <tr>
          <td>Dept/Cabang/Bagian</td>
          <td>:</td>
          <td><b>{{profile.employeeTransient.assignment.organizationName}}</b></td>
        </tr>
        <tr>
          <td>PT</td>
          <td>:</td>
          <td><b>{{profile.employeeTransient.assignment.legalEntityName}}</b></td>
        </tr>
      </table>
      <br />
      <div style="text-align: justify;">
        Dengan ini menyatakan bahwa saya telah membaca, memahami, dan menyetujui
        seluruh isi dari buku Peraturan Perusahaan ACC tahun {{periode}}, serta
        berjanji untuk mematuhi seluruh peraturan yang berlaku dengan segala
        konsekuensinya.
      </div>
      <br />
      <br />
      Jakarta, {{nDate | date:'dd MMMM yyyy'}}
      <br />
      Yang menyatakan,
      <br />
      <br />
      <b>{{profile.employeeTransient.name}}</b>
      <br />
      <br />
      <b> Catatan:</b>
      <br />
      Demikian Surat Pernyataan ini saya buat, dengan meng-klik tombol Submit.
      <br />
      <br />
      <hr />
    </div>
    <ion-grid>
      <ion-row>
        <center>
          <button
            class="btn waves-effect waves-light button button-balanced button-block waves-effect waves-light"
            style="font-weight: bold; background-color: #00bfff;"
            ng-click="acceptButton()"
          >
            Submit
          </button>
        </center>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-view>
