<ion-view class="bg-lightgrey" cache-view="true">
  <ion-nav-title>{{subModule}}</ion-nav-title>

  <ion-nav-buttons side="right">
    <button class="button button-icon dark icon ion-ios-search" ng-click="goToSearch()"></button>
  </ion-nav-buttons>
  <ion-content class="has-header bt-grey profile" scroll="false">
    <!-- <div class="row text-center" style="height:40px">
      <div class="col font-thin" ng-class="module.type === 'personalia' ? 'text-medium balanced bb' : ''"
        ng-click="chooseTab('personalia')"><b>Personalia</b></div>
      <div class="col font-thin" ng-class="module.type === 'benefit' ? 'text-medium balanced bb' : ''"
        ng-click="chooseTab('benefit')"><b>Benefit</b></div>
      <div class="col font-thin" ng-class="module.type === 'attendance' ? 'text-medium balanced bb' : ''"
        ng-click="chooseTab('attendance')"><b>Attendance</b></div>
    </div> -->
    <ion-scroll class="bg-lightgrey" direction="y" style="height:95%">
      <ion-refresher pulling-text="Pull to refresh" refreshing-text="Loading..." refreshing-icon="ion-loading-c"
        pulling-icon="ion-ios7-arrow-thin-down" on-refresh="refresh()">
      </ion-refresher>
      <div ng-if="module.type === 'personalia'" ng-repeat="item in requests | filter: searchFilter ">
        <!-- <div class="card" ng-repeat="item in requests | filter: searchFilter "> -->
        <div class="item item-avatar item-text-wrap" ng-if="item.task=='SUBMITFAMILY'"
          ng-click="gotoDetailRequest(item.id)">
          <img ng-src="{{item.photoProfile}}">
          <span class="item-note calm">
            {{item.processingStatus}}
          </span>
          <h2>{{item.fullName}}</h2>
          <p>{{item.description}}</p>
          <p>{{item.employeeNo}}</p>
          <p>{{item.positionName}}</p>
          <p>{{item.taskDescription}}</p>
          <p class="text-smaller">{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}</p>
        </div>
        <div class="item item-avatar item-text-wrap" ng-if="item.task=='SUBMITADDRESS'"
          ng-click="gotoDetailRequest(item.id)">
          <img ng-src="{{item.photoProfile}}">
          <span class="item-note calm">
            {{item.processingStatus}}
          </span>
          <h2>{{item.fullName}}</h2>
          <p>{{item.categoryType}}</p>
          <p>{{item.employeeNo}}</p>
          <p>{{item.positionName}}</p>
          <p>{{item.description}}</p>
          <p class="text-smaller">{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}</p>
        </div>
        <div class="item item-avatar item-text-wrap" ng-if="item.task=='CHANGEFAMILY'"
          ng-click="gotoDetailRequest(item.id)">
          <img ng-src="{{item.photoProfile}}">
          <span class="item-note calm">
            {{item.processingStatus}}
          </span>
          <h2>{{item.fullName}}</h2>
          <p>{{item.description}}</p>
          <p>{{item.employeeNo}}</p>
          <p>{{item.positionName}}</p>
          <p>{{item.description}}</p>
          <p class="text-smaller">{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}</p>
        </div>
        <div class="item item-avatar item-text-wrap" ng-if="item.task=='CHANGEADDRESS'"
          ng-click="gotoDetailRequest(item.id)">
          <img ng-src="{{item.photoProfile}}">
          <span class="item-note calm">
            {{item.processingStatus}}
          </span>
          <h2>{{item.fullName}}</h2>
          <p>{{item.description}}</p>
          <p>{{item.employeeNo}}</p>
          <p>{{item.positionName}}</p>
          <p>{{item.description}}</p>
          <p class="text-smaller">{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}</p>
        </div>
        <div class="item item-avatar item-text-wrap" ng-if="item.task=='CHANGEMARITALSTATUS'"
          ng-click="gotoDetailRequest(item.id)">
          <img ng-src="{{item.photoProfile}}" />
          <span class="item-note calm">
            {{item.processingStatus}}
          </span>
          <h2>{{item.fullName}}</h2>
          <p>{{item.description}}</p>
          <p>{{item.employeeNo}}</p>
          <p>{{item.positionName}}</p>
          <p>{{item.taskDescription}}</p>
          <p class="text-smaller">{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}</p>
        </div>
        <div class="item item-avatar item-text-wrap" ng-if="item.task=='CHANGENPWP'"
          ng-click="gotoDetailRequest(item.id)">
          <img ng-src="{{item.photoProfile}}" />
          <span class="item-note calm">
            {{item.processingStatus}}
          </span>
          <h2>{{item.fullName}}</h2>
          <p>{{item.description}}</p>
          <p>{{item.employeeNo}}</p>
          <p>{{item.positionName}}</p>
          <p>{{item.taskDescription}}</p>
          <p class="text-smaller">{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}</p>
        </div>
        <div class="item item-avatar item-text-wrap" ng-if="item.task=='CHANGENIRCNO'"
          ng-click="gotoDetailRequest(item.id)">
          <img ng-src="{{item.photoProfile}}" />
          <span class="item-note calm">
            {{item.processingStatus}}
          </span>
          <h2>{{item.fullName}}</h2>
          <p>{{item.description}}</p>
          <p>{{item.employeeNo}}</p>
          <p>{{item.positionName}}</p>
          <p>{{item.taskDescription}}</p>
          <p class="text-smaller">{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}</p>
        </div>
        <div class="item item-avatar item-text-wrap" ng-if="item.task=='CHANGEKTPNAME'"
          ng-click="gotoDetailRequest(item.id)">
          <img ng-src="{{item.photoProfile}}" />
          <span class="item-note calm">
            {{item.processingStatus}}
          </span>
          <h2>{{item.fullName}}</h2>
          <p>{{item.description}}</p>
          <p>{{item.employeeNo}}</p>
          <p>{{item.positionName}}</p>
          <p>{{item.taskDescription}}</p>
          <p class="text-smaller">{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}</p>
        </div>
        <div class="item item-avatar item-text-wrap" ng-if="item.task=='CHANGEFAMILYCARDNO'"
          ng-click="gotoDetailRequest(item.id)">
          <img ng-src="{{item.photoProfile}}" />
          <span class="item-note calm">
            {{item.processingStatus}}
          </span>
          <h2>{{item.fullName}}</h2>
          <p>{{item.description}}</p>
          <p>{{item.employeeNo}}</p>
          <p>{{item.positionName}}</p>
          <p>{{item.taskDescription}}</p>
          <p class="text-smaller">{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}</p>
        </div>
        <div class="item item-avatar item-text-wrap" ng-if="item.task=='CHANGEBANKACCOUNT'"
          ng-click="gotoDetailRequest(item.id)">
          <img ng-src="{{item.photoProfile}}" />
          <span class="item-note calm">
            {{item.processingStatus}}
          </span>
          <h2>{{item.fullName}}</h2>
          <p>{{item.description}}</p>
          <p>{{item.employeeNo}}</p>
          <p>{{item.positionName}}</p>
          <p>{{item.taskDescription}}</p>
          <p class="text-smaller">{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}</p>
        </div>

        <!-- APPROVAL DPA -->
        <div class="item item-avatar item-text-wrap" ng-if="item.task=='SUBMITDPA'"
          ng-click="gotoDetailRequest(item.id)">
          <img ng-src="{{item.photoProfile}}" />
          <span class="item-note calm">
            {{item.processingStatus}}
          </span>
          <h2>{{item.fullName}}</h2>
          <p>{{item.description}}</p>
          <p>{{item.employeeNo}}</p>
          <p>{{item.positionName}}</p>
          <p>{{item.taskDescription}}</p>
          <p class="text-smaller">{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}</p>
        </div>
        <!-- APPROVAL DPA -->

        <div class="item item-text-wrap" ng-if="item.task=='SUBMITLEAVE'" ng-click="gotoDetailRequest(item.id)">
          <div class="row">
            <div class="col col-10"><img ng-src="{{item.photoProfile}}"></div>
            <div class="col col-80" style="valign:center">
              <h2>{{item.firstName}} {{item.lastName}}</h2>
              <p>{{item.description}}</p>
              <p>{{item.employeeNo}}</p>
              <p>{{item.positionName}}</p>
            </div>
            <div class="col col-10">
              <p class="text-smaller pull-right" style="right:32px">{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}
              </p>
            </div>
          </div>
          <div class="row item">
            <div class="col col-10"><span class="item item-icon-left">
                <i class="icon ion-ios-list-outline"></i>

              </span> </div>
            <div class="col col-80">{{item.leaveTypeName}}</div>
            <div class="col col-10"></div>
          </div>
          <div class="row">
            <div class="col col-10"><span class="item item-icon-left"><i
                  class="icon ion-ios-calendar-outline"></i></span> </div>
            <div class="col col-80">
              <p>{{item.startDate}} - {{item.endDate}}</p>
            </div>
            <div class="col col-10"><span class="badge badge-balanced" style="top:50px">{{item.days}}</span></div>
          </div>
          <div class="row card-action pull-right">
            <button class="waves-effect waves-light btn button-calm"
              ng-click="approval('rejected',{{item.id}});log();">Reject</button>&nbsp;&nbsp;
            <button class="waves-effect waves-light btn button-balanced"
              ng-click="approval('approved',{{item.id}});log();">Approve</button>
          </div>
          <br>
        </div>
      </div>
      <div ng-if="module.type === 'benefit'" ng-repeat="item in benefitRequests | filter: searchFilter ">
        <!-- <div class="card" ng-repeat="item in benefitRequests | filter: searchFilter "> -->
        <div class="item item-avatar item-text-wrap" ng-click="gotoDetailRequest(item.id)">
          <img ng-src="{{item.photoProfile}}">
          <span class="item-note calm text-smaller">
            {{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}
          </span>
          <h2>{{item.fullName}}</h2>
          <p>{{item.employeeNo}}</p>
          <p>{{item.positionName}}</p>
          <p class="text-small" ng-if="item.requestForFamily != null && item.categoryType =='Medical'">Medical Family
          </p>
          <p class="text-small"
            ng-if="item.categoryType == 'Medical' && item.requestForFamily == null ||  item.categoryType == 'Kacamata Family'">
            {{item.categoryType}}</p>
          <!--  <p class="text-small">No Rek Transfer Claim To: {{item.bankAccount}} {{item.bank_name_c_trans}} <span ng-if="item.accountName != null">An {{item.accountName}} </span></p> -->
          <p class="text-small" ng-if="item.categoryType!='Medical Overlimit'">Total : Rp.
            {{item.totalAmount | number:0}}</p>
          <span class="item-note positive text-smaller">
            Approval {{item.currentApprovalLevel + 1}} of {{item.approvalLevel}}
          </span>
        </div>
        <!-- </div> -->
      </div>
      <div ng-if="module.type === 'attendance'" ng-repeat="item in attendanceRequests | filter: searchFilter ">
        <!-- <div class="card" ng-repeat="item in attendanceRequests | filter: searchFilter "> -->
        <div class="item item-avatar item-text-wrap" ng-click="gotoDetailRequest(item.id)">
          <img ng-src="{{item.photoProfile}}">
          <span class="item-note calm text-smaller">
            {{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}
          </span>
          <h2>{{item.fullName}}</h2>
          <p>{{item.employeeNo}}</p>
          <p>{{item.positionName}}</p>
          <p class="text-medium">{{item.description}}</p>
          <!-- <p class="text-smaller">{{item.tmReqStartDate | date: 'dd MMM yyyy'}} - {{item.tmReqEndDate | date: 'dd MMM yyyy'}}</p> -->
          <!--  <p class="text-smaller" ng-if="item.categoryType=='Overtime'">{{item.startDateInTime | date: 'dd MMM HH:mm'}}  - {{item.endDateInTime | date: 'dd MMM HH:mm'}}</p> -->
          <span class="item-note positive text-smaller">
            Approval {{item.currentApprovalLevel + 1}} of {{item.approvalLevel}}
          </span>
        </div>
      </div>



      <div ng-if="module.type === 'personalia'">
        <div class="row" ng-if="requests.length != 0" ng-show="isLoadMorePersonalShow"
          style="padding-top:0px;min-height:120px">
          <button style="height:30px" class="button button-block button-outline button-positive"
            ng-click="loadMorePersonal()">Load More Results</button>
        </div>
        <div class="item" ng-if="requests.length == 0">
          <div class="col col-100">
            <h2>No request available</h2>
            <p>Please Pull to refresh</p>
          </div>
        </div>
      </div>
      <div ng-if="module.type === 'benefit'">
        <div class="row" ng-if="benefitRequests.length != 0" ng-show="isLoadMoreBenefitShow"
          style="padding-top:0px;min-height:120px">
          <button style="height:30px" class="button button-block button-outline button-positive"
            ng-click="loadMoreBenefit()">Load More Results</button>
        </div>
        <div class="item" ng-if="benefitRequests.length == 0">
          <div class="col col-100">
            <h2>No request available</h2>
            <p>Please Pull to refresh</p>
          </div>
        </div>
      </div>
      <div ng-if="module.type === 'attendance'">
        <div class="row" ng-if="attendanceRequests.length != 0" ng-show="isLoadMoreAttendanceShow"
          style="padding-top:0px;min-height:120px">
          <button style="height:30px" class="button button-block button-outline button-positive"
            ng-click="loadMoreAttendance()">Load More Results</button>
        </div>
        <div class="item" ng-if="attendanceRequests.length == 0">
          <div class="col col-100">
            <h2>No request available</h2>
            <p>Please Pull to refresh</p>
          </div>
        </div>
      </div>
    </ion-scroll>

  </ion-content>
</ion-view>
