<ion-view title="Reassign PIC" class="bg-lightgrey">
    <ion-content class="has-header bt-grey profile" scroll="false">
        <ion-scroll class="bg-lightgrey" direction="y" style="height:100%">
            <ion-refresher pulling-text="Pull to refresh" refreshing-text="Loading..." refreshing-icon="ion-loading-c" pulling-icon="ion-ios7-arrow-thin-down"
                on-refresh="refresh()">
            </ion-refresher>
            <div>
                <div class="list">
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <input type="text" placeholder="Search Work Location" ng-model="data.searchData" ng-keyup="$event.keyCode == 13 && search()">
                        </label>
                        <button class="button button-small" ng-click="search()">
                            Search
                        </button>
                    </div>
                </div>
                <div ng-repeat="item in requests | filter:data.searchData">
                    <div class="item item-text-wrap item-icon-right" ng-click="gotoDetail(item.workLocation)">
                        <h2 class="lead">{{item.workLocation}}</h2>
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </div>
                </div>
               
                <div class="item" ng-if="requests.length == 0">
                    <div class="col col-100">
                        <h2>No request available</h2>
                        <p>Please Pull to refresh</p>
                    </div>
                </div>
            </div>
        </ion-scroll>
    </ion-content>

</ion-view>