<ion-view title="Submit SPD">
  <script id="modalSpdItem.html" type="text/ng-template">
    <ion-modal-view>
      <div class="bar bar-header item-input-inset">
        <button class="button button-clear ion-ios7-arrow-thin-down" style="margin-left:-12.5px;"
          ng-click="closeModal();">
          <i class="icon ion-android-close placeholder-icon placeholder-icon"></i>
        </button>
      </div>      
      <ion-content class="has-header bt-grey assertive">
        <form name="frm" novalidate>
          <div class="item padding">
            <div class="item item-divider">New SPD Item</div>
            <div class="row">
              <div class="input-field col">
                <p>Category *</p>
                <select ng-model="formSpdItem.category" 
                  ng-options="type for type in optCategorySPDItem track by type"
                  required ng-change="getListItemByCategory(); onChangeItem();"
                  ng-disabled="pageMode == 'MYREQUEST' || pageMode == 'APPROVALHISTORY' || pageMode == 'NEEDAPPROVAL'">
                </select>
              </div>
            </div>
            <div class="row">
              <div class="input-field col">
                <p>Items *</p>
                <select ng-model="formSpdItem.spdItem" 
                  ng-options="type.name for type in optCatItemSPDItem track by type.id"
                  required ng-change="onChangeItem(); calculateAmountPayment();"
                  ng-disabled="formSpdItem.category == undefined || formSpdItem.category == '' || pageMode ==
                  'MYREQUEST' || pageMode =='APPROVALHISTORY' || pageMode == 'NEEDAPPROVAL'">
                </select>
              </div>
            </div>
            <div class="row">
              <div class="input-field col">
                <p>Qty/Day/Km</p>
                <input placeholder="0" value="1" type="number" min="1" class="validate" ng-pattern="globalConstant.regexNumeric"
                  ng-model="formSpdItem.quantity" ng-keyup="calculateAmountPayment()"
                  ng-disabled="pageMode == 'MYREQUEST' || pageMode =='APPROVALHISTORY' || formSpdItem.spdItem == undefined || formSpdItem == ''">
              </div>
            </div>
            <div class="row">
              <div class="input-field col">
                <p>Amount per Qty (Day) *</p>
                <input placeholder="0" ng-keyup="calculateAmountPayment()" type="number" min="0" class="validate"
                  ng-pattern="globalConstant.regexNumeric" ng-model="formSpdItem.amount" 
                  ng-readonly="formSpdItem.spdItem && formSpdItem.spdItem.isFixedAmount"
                  ng-disabled="pageMode == 'MYREQUEST' || pageMode =='APPROVALHISTORY' || formSpdItem.spdItem ==
                  undefined || formSpdItem == ''">
              </div>
            </div>
            <div class="row">
              <div class="input-field col">
                <p>Amount Payment*</p>
                  Rp. <input style="width:100%; border-color:white; border: solid 0px"
                  placeholder="0" value="0" type="string"
                  ng-model="formSpdItem.totalAmount" readonly>
              </div>
            </div>
            <div class="row">
              <div class="input-field col">
                <p>Remarks</p>
                <textarea style="width:100%; border-color:#ddd; border: solid 2px #c9c9c9;border-radius:5px" rows="3"
                  placeholder="Enter Remark" maxlength="100" ng-model="formSpdItem.remark" name="remark" ng-disabled="pageMode == 'MYREQUEST' || pageMode =='APPROVALHISTORY'"></textarea>
              </div>
            </div>
            <div class="row" ng-if="formSpd.requestType == 'SPD Advance'">
              <div class="input-field col">
                <p>Attachment</p>
                <input type="file" ng-if="appMode=='web'" ngf-select ng-model="formSpdItem.dataFile"
                  accept="image/*,application/pdf" id="inputImage" name="dataFile" ngf-model-invalid="errorFile">
                <input type="file" ng-if="appMode=='mobile'" ngf-select ng-model="formSpdItem.dataFile" name="dataFile"
                  id="inputImage" ngf-model-invalid="errorFile">
                <button class="btn waves-effect waves-light button button-balanced 
                  button-block waves-effect waves-light" style="font-weight:bold;background-color:#42a5f5"
                  ng-disabled="formSpdItem.hRSpdRequestDetailAttachment == null || formSpdItem.hRSpdRequestDetailAttachment.length == 0"
                  ng-click="downloadFileWithConcat(formSpdItem.hRSpdRequestDetailAttachment[0].path);">
                  <i class="icon ion-android-download"></i>&nbsp;Download</button>
              </div>
            </div>
            <div class="row" ng-if="formSpd.requestType == 'SPD Realization'">
              <div class="input-field col">
                <p>Attachment *</p>
                <input type="file" ng-if="appMode=='web'" ngf-select ng-model="formSpdItem.dataFile"
                  accept="image/*,application/pdf" id="inputImage" name="dataFile" ngf-model-invalid="errorFile" required>
                <input type="file" ng-if="appMode=='mobile'" ngf-select ng-model="formSpdItem.dataFile" name="dataFile"
                  id="inputImage" ngf-model-invalid="errorFile" required>
                <button class="btn waves-effect waves-light button button-balanced 
                  button-block waves-effect waves-light" style="font-weight:bold;background-color:#42a5f5"
                  ng-disabled="formSpdItem.hRSpdRequestDetailAttachment == null || formSpdItem.hRSpdRequestDetailAttachment.length == 0"
                  ng-click="downloadFileWithConcat(formSpdItem.hRSpdRequestDetailAttachment[0].path);">
                  <i class="icon ion-android-download"></i>&nbsp;Download</button>
              </div>
            </div>
            </br>
            <div class="row">
              <button class="btn waves-effect button-medium waves-light button button-balanced button-block"
                ng-click="submitFormSpdItem()"
                ng-disabled="frm.$invalid && (formSpdItem.hRSpdRequestDetailAttachment != null && formSpd.requestType ==
                'SPD Advance')"
                style="font-weight:bold;background-color:#FF9800"
                ng-if="pageMode != 'MYREQUEST' && pageMode != 'APPROVALHISTORY'" >SUBMIT</button>
            </div>
          </div>
        </form>
      </ion-content>
    </ion-modal-view>
  </script>
  <ion-content class="profile has-header materialize" scroll="true">
    <div class="row text-center" style="height:40px">
      <div class="col font-thin" ng-class="module.type === 'general' ? 'text-medium balanced bb' : ''"
        ng-click="chooseTab('general')">
        <b>General</b>
      </div>
      <div class="col font-thin" ng-class="module.type === 'detail' ? 'text-medium balanced bb' : ''"
        ng-click="chooseTab('detail')" ng-if="spdId != 0">
        <b>Details</b>
      </div>
    </div>

    <div ng-if="module.type === 'general'">
      <form name="form" novalidate>
        <div class="card hybrid" ng-if="employeeNo != undefined">
          <div class="item item-avatar item-text-wrap">
            <img ng-if="selectedEmpl.photoProfile != null" ng-src="{{selectedEmpl.photoProfile | concatImage}}">
            <img ng-if="selectedEmpl.photoProfile == null" src="img/talents/default_profile.png">
            <h2 class="lead text-medium">{{selectedEmpl.name}}</h2>
            <h3 class="text-smaller">{{selectedEmpl.employeeNo}}</h3>
            <h3 class="text-smaller">{{selectedEmpl.positionName}}</h3>
          </div>
        </div>
        <div class="list">
          <div class="item padding">
            <div class="row" ng-if="formSpd.requestType == 'SPD Realization'">
              <div class="input-field col">
                <p><b>SPD Advance</b></p>
                <select ng-model="frmTmp.spdAdvance"
                  ng-options='spdAdvance.requestNo == "-- Select --" ? spdAdvance.requestNo : spdAdvance.requestNo + " - " + spdAdvance.tujuanSpd for spdAdvance in optSpdAdvance track by spdAdvance.id'
                  ng-change="getSelectedSpdAdvance()" ng-disabled="spdId != 0"
                  ng-if="pageMode != 'NEEDAPPROVAL' && spdMode != 'REALIZATION'">
                </select>
                <input type="text" class="validate" name="name" ng-model="spdAdvanceNo" ng-disabled="spdId != 0"
                  ng-if="pageMode != 'EMPLOYEE' && spdMode == 'REALIZATION'"
                  ng-init='spdAdvanceNo = formSpd.spdAdvance.requestNo + " - " + formSpd.spdAdvance.tujuanSpd'>
              </div>
            </div>

            <div class="row">
              <div class="input-field col">
                <p><b>Type</b></p>
                <select class="select-dropdown" ng-model="formSpd.type" required ng-disabled="spdId != 0">
                  <option value="">-- Select --</option>
                  <option value="reguler">Reguler</option>
                  <option value="mutasi">Mutasi</option>
                  <option value="pulang kampung">Pulang Kampung</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="input-field col">
                <p><b>Asal SPD (Kota)*</b></p>
                <input placeholder="Asal SPD" type="text" class="validate" name="name" required="true"
                  ng-model="formSpd.asalSpd" maxlength="100" ng-disabled="spdId != 0">
              </div>
            </div>

            <div class="row">
              <div class="input-field col">
                <p><b>Tujuan SPD (Kota)*</b></p>
                <input placeholder="Tujuan SPD" type="text" class="validate" name="name" required="true"
                  ng-model="formSpd.tujuanSpd" maxlength="100" ng-disabled="spdId != 0">
              </div>
            </div>

            <div class="row">
              <div class="input-field col">
                <p><b>Keperluan / Tugas*</b></p>
                <input placeholder="Tujuan SPD" type="text" class="validate" name="name" required="true"
                  ng-model="formSpd.keperluan" maxlength="100" ng-disabled="spdId != 0">
              </div>
            </div>
            <div class="row">
              <div class="input-field col">
                <p><b>Tanggal Berangkat</b></p>
                <ionic-datepicker class="button button-block button-outline button-positive"
                  ng-click="openDPStartDate()" ng-disabled="spdId != 0">
                  {{formSpd.startDate| date: globalConstant.dateFormat}}
                </ionic-datepicker>
              </div>
            </div>
            <div class="row">
              <div class="input-field col">
                <p><b>Tanggal Kembali</b></p>
                <ionic-datepicker class="button button-block button-outline button-positive" ng-click="openDPEndDate()"
                  ng-disabled="spdId != 0">
                  {{formSpd.endDate| date: globalConstant.dateFormat}}
                </ionic-datepicker>
              </div>
            </div>

            <div class="row">
              <div class="input-field col">
                <p><b>Total Biaya Advance</b></p>
                <input ng-if="formSpd.requestType == 'SPD Advance'" placeholder="Rp. 0" value="0"
                  ng-keyup="change($event,$index)" type="number" ng-model="formSpd.totalAmount" readonly>
                <input ng-if="formSpd.requestType == 'SPD Realization' && spdId != 0" placeholder="Rp. 0" value="0"
                  ng-keyup="change($event,$index)" type="number" ng-model="formSpd.totalAmountAdvance" readonly>
                <input ng-if="formSpd.requestType == 'SPD Realization' && spdId == 0" placeholder="Rp. 0" value="0"
                  ng-keyup="change($event,$index)" type="number" ng-model="formSpd.totalAmount" readonly>
              </div>
            </div>

            <div class="row" ng-if="formSpd.requestType == 'SPD Realization'">
              <div class="input-field col">
                <p><b>Total Biaya Realization</b></p>
                <input ng-if="spdId == 0" placeholder="Rp. 0" value="0" ng-keyup="change($event,$index)" type="number"
                  ng-model="formSpd.totalAmountAdvance" readonly>
                <input ng-if="spdId != 0" placeholder="Rp. 0" value="0" ng-keyup="change($event,$index)" type="number"
                  ng-model="formSpd.totalAmount" readonly>
              </div>
            </div>

            <div class="row" ng-if="formSpd.requestType == 'SPD Realization'">
              <div class="input-field col">
                <p><b>Selisih Biaya</b></p>
                <input placeholder="Rp. 0" value="0" ng-keyup="change($event,$index)" type="number"
                  ng-model="formSpd.selisih" readonly>
              </div>
            </div>

            <div class="row">
              <div class="input-field col">
                <p><b>Remarks Requestor</b></p>
                <textarea
                  style="resize:none; width:100%; border-color:#ddd; border: solid 2px #c9c9c9;border-radius:5px"
                  rows="3" placeholder="Enter Remark" maxlength="255" ng-model="formSpd.remark" name="remark"
                  required="true" ng-disabled="spdId != 0"></textarea>
              </div>
            </div>
            <div class="row" ng-if="pageMode == 'MYREQUEST' && detail.status == 'Rejected'"">
              <div class=" input-field col">
              <p><b>Reason Reject</b></p>
              <textarea style="width:100%; border-color:#ddd; border: solid 2px #c9c9c9;border-radius:5px" rows="3"
                maxlength="500" ng-model="detail.reasonReject" name="reasonReject" disabled></textarea>
            </div>
          </div>

          <!-- <div class="row">
              <div class="input-field col">
                <p>Attach Supporting Document <span style="font-size:12px;color:red">(Max file size 5 MB)</span></p>

                <div class="row" ng-if="appMode=='mobile'">
                  <button class="button button-block button-outline button-positive" ng-click="addPicture()"><i
                      class="icon ion-ios-camera-outline"></i> Add Attachment</button>
                </div>
                <div class="row" ng-if="appMode=='web'">
                  <input id="inputImage" type="file" accept="image/*" ng-model="formSpd.attachments"
                    image="formSpd.attachments" resize-max-height="1280" resize-max-width="720" resize-quality="0.8"
                    resize-type="image/jpg" multiple="multiple" ng-image-compress />
                </div>

                <div class="row post" ng-if="appMode=='mobile'">
                  <div class="col" style="max-height:90px; max-width:90px" ng-if="images.length==0"><img
                      ng-src="{{defaultImage}}" height="90px"></div>
                  <div class="col" ng-if="images.length > 0" ng-repeat="items in images"
                    style="height:90px; width:90px">
                    <img height="90px" ng-src="{{items.image}}" /> <button class="remove" ng-if="$last"
                      ng-click="removeChoice()">-</button></div>
                </div>
                <div class="row post" ng-if="appMode=='web'">
                  <div class="col" style="max-height:90px; max-width:90px" ng-if="formSpd.attachments.length==0">
                    <img ng-src="{{defaultImage}}" height="90px"></div>
                  <div class="col" ng-if="formSpd.attachments.length > 0" ng-repeat="item in formSpd.attachments"
                    style="height:90px; width:90px;margin-bottom: 70px;">
                    <img ng-src="{{item.compressed.dataURL}}" /> <button class="remove" ng-if="$last"
                      ng-click="removeChoice()">-</button>
                  </div>
                </div>
              </div>
            </div> -->

          <div class="row" ng-if="pageMode == 'EMPLOYEE'">
            <button class="btn button-medium button button-balanced button-block"
              style="font-weight:bold;background-color:#FF9800" ng-click="saveFormSpd()" ng-disabled="form.$invalid"
              ng-if="spdId == 0">Next ( 1 of 3 )</button>
            <button class="btn button-medium button button-balanced button-block"
              style="font-weight:bold;background-color:#FF9800" ng-click="submitFormSpd()" ng-disabled="form.$invalid"
              ng-if="spdId != 0">Submit ( 3 of 3 )</button>
          </div>

          <div class="row" style="padding-top:50px" ng-if="pageMode == 'MYREQUEST' && detail.status == 'In Progress'">
            <button class="btn button-small waves-effect waves-light button button-calm button-block"
              ng-click="confirmCancel()">Cancel</button>
          </div>
          <div class="row" style="padding-top:50px" ng-if="detail.status !='completed' && pageMode == 'NEEDAPPROVAL'">
            <button class="btn button-small waves-effect waves-light button button-calm button-block "
              ng-click="confirmAction('Reject')">Reject</button>&nbsp;
            <button class="btn button-small waves-effect waves-light button button-balanced button-block "
              ng-click="confirmAction('Approve')">Approve</button>
          </div>

          <div style="padding-top:50px"
            ng-if="(pageMode == 'MYREQUEST' || pageMode =='APPROVALHISTORY') && detail.status == 'Approved'">
            <button class="btn button-small button button-balanced button-block" ng-click="printSpd()">Download</button>
          </div>

        </div>
    </div>
    </form>
    </div>

    <div ng-if="module.type === 'detail'">
      <div class="card no-animate" ng-repeat="item in listSpdItem">
        <div class="item item-text-wrap">
          <div>
            <h2 class="lead">{{item.spdItem.category}} - {{item.spdItem.name}}</h2>
          </div>
          <p>Amount Payment : {{item.quantity * item.amount}}</p>
          <p style="white-space: pre-wrap;">Remarks : {{item.remark}}</p>
          <!-- <p>{{item.spdRequest.requestDate | date: globalConstant.dateFormatHhMm}}</p> -->
          <br />
          <p class="text-small">
            <span class="item-note positive">
              <img src="img\talents\mobile-interview\edit-32px.png" ng-click="editSpdItem(item.id);"
                style="cursor: pointer;">
              <img src="img\talents\mobile-interview\deleteDocument-32px.png" ng-click="confirmDeleteSpdItem(item.id);"
                style="cursor: pointer;" ng-if="pageMode == 'EMPLOYEE'">
            </span>
          </p>
        </div>
      </div>
      <div class="item" ng-if="listSpdItem.length == 0">
        <div class="col col-100">
          <h2>No Data available</h2>
        </div>
      </div>
    </div>


    </div>
    </div>
  </ion-content>
  <div class="padding">
    <button class="btn button-medium button button-balanced no-animate"
      style="font-weight:bold; background-color:#FF9800; position: fixed; width:80%; bottom:2.75%; z-index:999"
      ng-if="module.type == 'detail' && pageMode == 'EMPLOYEE'" ng-click="chooseTab('general')">Next ( 2 of 3
      )</button>
  </div>
  <a class="btn-floating btn-sm waves-effect waves-light green lighten-1 no-animate"
    style="position:fixed; bottom:3%;right:5%;z-index:999" ng-if="module.type == 'detail' && pageMode == 'EMPLOYEE'"
    ng-click="addSpdItem()">
    <i class="icons ion-plus"></i></a>
</ion-view>
