<ion-view title="My HR" class="bg-lightgrey">

  <ion-content class="has-header bt-grey profile">
    <ion-refresher pulling-text="Pull to refresh" refreshing-text="Loading..." refreshing-icon="ion-loading-c"
      pulling-icon="ion-ios7-arrow-thin-down" on-refresh="refresh()">
    </ion-refresher>

    <div class="header">
      <img ng-src="{{user.photo}}">

      <h5><b>{{profile.employeeTransient.assignment.employeeNo}} - {{profile.employeeTransient.name}}</b></h5>
      <p style="text-align: center;" class="text-small">{{profile.employeeTransient.assignment.jobTitleName}}</p>
      <p style="text-align: center;" class="text-small">{{profile.employeeTransient.assignment.employeeStatus}} -
        {{profile.employeeTransient.assignment.legalEntityName}}</p>

    </div>
    <div class="row height-20 text-center stable-bg responsive-md">
      <div class="col padding-left padding-right" style="padding-bottom: 5px;">
        <div class="card contact" style="border-radius: 5px;" ui-sref="app.biodata">
          <div class="item item-text-wrap light-bg">
            <img src="img/talents/42/42_information.png"><br>
            <span class="text-small">Biodata</span>
          </div>
        </div>
      </div>
      <div class="col padding-left padding-right" style="padding-bottom: 5px;">
        <div class="card contact" style="border-radius: 5px;" ui-sref="app.family">
          <div class="item item-text-wrap light-bg">
            <img src="img/talents/42/42_family.png"><br>
            <span class="text-small">Family</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row height-20 text-center stable-bg responsive-md">
      <div class="col padding-left padding-right" style="padding-bottom: 5px;">
        <div class="card contact" style="border-radius: 5px;" ui-sref="app.address">
          <div class="item item-text-wrap light-bg">
            <img src="img/talents/42/42_address.png"><br>
            <span class="text-small">Address</span>
          </div>
        </div>
      </div>
      <div class="col padding-left padding-right" style="padding-bottom: 5px;">
        <div class="card contact" style="border-radius: 5px;" ui-sref="app.certification">
          <div class="item item-text-wrap light-bg">
            <img src="img/talents/42/42_certificate.png"><br>
            <span class="text-small">Certificate</span>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
