<ion-view class="bg-lightgrey">
  <ion-nav-title>{{submodule}}</ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-clear icon ion-ios-settings-strong" ng-click="openModalMyRequest()"></button>
  </ion-nav-buttons>
  <script id="modalMyRequest.html" type="text/ng-template">
    <ion-modal-view>
        <div class="bar bar-header item-input-inset">
        <button class="button button-clear ion-ios7-arrow-thin-down" style="margin-left:-12.5px;" ng-click="closeModalMyRequest();">
            <i class="icon ion-android-close placeholder-icon placeholder-icon"></i>
        </button>
        </div>

        <ion-content class="has-header bt-grey assertive">
        <div class="item padding">
            <div class="item item-divider">Filter By</div>
            <!-- <div class="row">
              <div class="input-field col">
                <p>Status</p>
                <select ng-model="filterRequest.status" style="height: 40px;" >    
                  <option value="">-- Select --</option>  
                  <option value="In Progress">In Progress</option>  
                  <option value="Approved">Approved</option>
                  <option value="Rejected">Rejected</option>
                  <option value="Canceled">Canceled</option>
                </select>
              </div>
            </div> -->
            <div class="row">
              <div class="input-field col">
                <p for="first_name">NIK / Name / Request No.</p>
                <input type="text" placeholder="type NIK / Name / Request No. here ..." ng-model="filterRequest.ppl"
                  style="width:100%">
              </div>
            </div>
            <div class="row">
              <div class="input-field col">
                <p>Start Date</p>
                <ionic-datepicker class="button button-block button-outline button-positive" ng-click="openStartDatePicker()">
                  {{filterRequest.startDate | date: globalConstant.dateFormat}}
                </ionic-datepicker>
                <font color="red" style="font-size: 10px">
                  <span ng-show="filterRequest.endDate != null && (filterRequest.startDate == null || filterRequest.startDate == undefined) ">
                    Date filter must be fill completely (in pair)
                  </span>
                </font>
              </div>
            </div>
            <div class="row">
              <div class="input-field col">
                  <p>End Date</p>
                  <ionic-datepicker class="button button-block button-outline button-positive" ng-click="openEndDatePicker()">
                  {{filterRequest.endDate | date: globalConstant.dateFormat}}
                  </ionic-datepicker>
                  <font color="red" style="font-size: 10px">
                  <span ng-show="filterRequest.endDate != null && (filterRequest.startDate == null || filterRequest.startDate == undefined) ">
                      Date filter must be fill completely (in pair)
                  </span>
                  </font>
              </div>
            </div>
            <div class="row">
            <button class="btn waves-effect button-medium waves-light button button-balanced button-block" ng-click="doFilterRequest()">OK</button>
            </div>
        </div>

        </ion-content>
    </ion-modal-view>
    </script>
  <ion-content class="has-header bt-grey profile" scroll="true">
    <ion-refresher pulling-text="Pull to refresh" refreshing-text="Loading..." refreshing-icon="ion-loading-c"
      pulling-icon="ion-ios7-arrow-thin-down" on-refresh="refresh()">
    </ion-refresher>
    <div ng-repeat="item in listRequests.content | filter: searchFilter ">
      <div class="item item-text-wrap" ng-click="gotoDetailRequest(item)">
        <span class="item-note calm text-smaller">
          {{item.requestDate | date: globalConstant.dateFormatHhMm}}
        </span>
        <h2 class="lead">{{item.requestNo}}</h2>
        <p class="text-medium">{{item.vwEmpAssignment.employeeNo}} - {{item.vwEmpAssignment.name}}</p>
        <p class="text-medium">{{item.vwEmpAssignment.positionName}}</p>
        <p class="text-medium" ng-if="submodule=='Absence'">{{item.absenceName}}</p>
        <p class="text-medium" ng-if="submodule=='Absence'">{{item.startDate | date: globalConstant.dateFormat}} to
          {{item.endDate | date: globalConstant.dateFormat}}</p>
        <p class="text-medium" ng-if="submodule=='Overtime'">{{item.startDate | date: globalConstant.dateFormatHhMm}} to
          {{item.endDate | date: globalConstant.dateFormatHhMm}}</p>
        <p class="text-medium" ng-if="submodule=='FKP'">{{item.type}} ({{item.nbrNeed}})</p>
        <p class="text-medium" ng-if="submodule=='MPP'">{{item.categoryName}} ({{item.mppAddChanges}})</p>
        <p class="text-medium" ng-if="submodule=='MPP'">{{item.mppDest.name}}</p>
        <p ng-if="submodule=='Overtime'">{{item.totalHoursGross}}</p>
        <p class="text-small" ng-if="submodule=='Absence'">{{item.amount}} {{globalConstant.days_suffix}}</p>
        <p class="text-small">
          <h2 class="text-medium" ng-if="item.status == 'Approved'" style="color: #008000;">{{item.status}}</h2>
          <h2 class="text-medium" ng-if="item.status == 'Rejected'" style="color: #800000;">{{item.status}}</h2>
          <h2 class="text-medium" ng-if="item.status == 'In Progress'" style="color: #000080;">{{item.status}}</h2>
          <h2 class="text-medium" ng-if="item.status == 'Canceled'" style="color: #b3b300;">{{item.status}}</h2>
        </p>
      </div>
    </div>

    <div class="row" ng-if="isLoadMoreBenefitShow" style="padding-top:0px;min-height:120px">
      <button style="height:30px" class="button button-block button-outline button-positive" ng-click="loadMoreBenefit()">Load
        More Results</button>
    </div>

    <div class="item" ng-if="listRequests.content.length == 0">
      <div class="col col-100">
        <h2>No request available</h2>
        <p>You may don't have any request</p>
      </div>
    </div>
  </ion-content>
</ion-view>
