<ion-view title="Talents" hide-nav-bar="true" class="login-background">
  <style>
    #wrapper {
      max-width: 1050px;
      margin: 60px auto 60px auto;
    }

    #outer {
      display: table;
      width: 100%;
      table-layout: fixed;
    }

    .itemwrapper {
      display: table-cell;
      vertical-align: top;
      width: 100%;
    }

    .company {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      overflow: hidden;
    }

    .box {
      position: absolute;
      padding-top: -1;
      background-color: white !important;
      width: 100%;
      height: 100vh;
      border: white;
      border-radius: 30px 30px;
      box-shadow: 0 10px 10px 3px rgba(255, 255, 255, 0.13);
    }

    .login-form {
      padding-left: 20px;
      padding-right: 20px;
      position: relative;
      top: 100px;
      left: 0;
      right: 0;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    .background {
      background: #2c598d;
      background-size: cover;
      border-color: transparent;
      color: #fff;
    }

    .background:hover {
      color: #2c598d;
      text-decoration: none;
    }

    .background:active {
      color: #2c598d;
      text-decoration: none;
    }

    .logo {
      z-index: 1;
    }
  </style>
  <ion-content scroll="false" class="auth">
    <div class="company text-center" style="padding-top: 20px;">
      <span style="color: #fff;"><b>Astra Credit Companies</b></span>
      <br />
      <span style="color: #fff;">Employee Login</span>
    </div>
    <div
      class="padding-horizontal logo"
      style="position: relative; top: 80px; left: 0; right: 0;"
    >
      <center><img src="img/talents/logoacc.png" class="text-center" /></center>
    </div>

    <div class="box">
      <div class="row responsive-md">
        <form
          name="login_form"
          class="login-form text-center col col-33 col-offset-33"
          ng-submit="loginAction(usertalent)"
          novalidate
        >
          <ion-list>
            <label class="item item-input">
              <i class="icon ion-android-person placeholder-icon"></i>
              <input
                type="email"
                placeholder="Email"
                ng-model="usertalent.username"
                maxlength="50"
                required
              />
            </label>
            <label class="item item-input">
              <i class="icon ion-android-lock placeholder-icon"></i>
              <input
                type="{{inputType}}"
                placeholder="Password"
                ng-model="usertalent.password"
                maxlength="30"
                required
              />
              <input
                type="checkbox"
                id="checkbox"
                ng-click="hideShowPassword()"
              />
              <div>
                <label
                  for="checkbox"
                  ng-if="usertalent.password && inputType == 'password'"
                >
                  <i class="icon ion-eye small placeholder-icon"></i>
                </label>
                <label
                  for="checkbox"
                  ng-if="usertalent.password && inputType == 'text'"
                >
                  <i class="icon ion-eye-disabled small placeholder-icon"></i>
                </label>
              </div>
            </label>
            <div align="left" style="padding-top: 10px;">
              <input
                type="checkbox"
                id="rememberMe"
                ng-model="usertalent.rememberflag"
                ng-checked="usertalent.rememberflag"
              />
              <label for="rememberMe">Remember Me</label>
            </div>
          </ion-list>

          <!-- <button class="button background button-block waves-effect waves-light" ng-click="loginAction();"> -->
          <button
            class="button background button-block waves-effect waves-light"
            type="submit"
          >
            Log In
          </button>
          <p class="padding-horizontal">
            <span
              class="balanced"
              ng-click="closeLogin();openForgot();"
              style="font-size: 14px; color: #2c598d;"
            >
              Forgot password ?</span
            >
          </p>
        </form>
      </div>

      <!-- <div id="wrapper">
        <div id="outer">
          <div class="itemwrapper text-center" style="padding-top: 80px;">
            <p>Powered By</p>
            <img src="img/talents/200x100-talentslogin.png" />
          </div>
        </div>
      </div> -->
    </div>

    <!-- <div class="text-center">
      <div style="width: 100%; position: absolute; bottom: 0;">
        <p>Powered By</p>
        <p><img src="img/talents/200x100-talentslogin.png" /></p>
      </div>
    </div> -->
  </ion-content>
</ion-view>
