<ion-view title="Absence Transactions" cache-view="false">
  <ion-content class="has-header bt-grey profile" scroll="true">
    <div class="item item-text-wrap">
      <div class="row">
        <div class="input-field col">
          <p>Month</p>
          <select ng-model="search.month">
            <option ng-repeat="month in selectMonth">{{month.name}}</option>
          </select>
        </div>&nbsp;
        <div class="input-field col">
          <p>Year</p>
          <select ng-model="search.year">
            <option ng-repeat="year in selectYear">{{year}}</option>
          </select>
        </div>&nbsp;
        <div class="input-field col">
          <p>&nbsp;</p>
          <button class="btn waves-effect waves-light button button-balanced  button-block"
            ng-click="searchAbsenceList(search.month,search.year)"
            style="font-weight:bold;background-color:#FF9800;height:48px;margin-top:2px;">Show</button>
        </div>
      </div>
    </div>
    <ion-scroll class="bg-lightgrey" direction="y" style="height:100%">
      <ion-refresher pulling-text="Pull to refresh" refreshing-text="Loading..." refreshing-icon="ion-loading-c"
        pulling-icon="ion-ios7-arrow-thin-down" on-refresh="refresh()">
      </ion-refresher>
      <div class="bg-lightgrey">
        <div class="card hybrid" style="padding:0px 0px">
          <div ng-repeat="absence in absenceList">
            <div class="item item-icon-right" ng-if="!absence.isDayOff" ng-click="goToDetails(absence.id)">
              <div class="inner-content">
                <div class="row">
                  <div class="input-field col">
                    <h2 class="balanced text-medium"><b>{{absence.hari}}</b></h2>
                    <p class="text-small">{{absence.tgl | date:'dd'}}</p>
                    <p class="text-small">{{absence.tgl | date:'MMM'}}</p>
                  </div>
                  <div class="input-field col">
                    <h2 class="balanced text-medium"><b>Actual</b></h2>
                    <p class="text-small">In</p>
                    <p class="text-small">Out </p>
                  </div>
                  <div class="input-field col">
                    <h2 class="balanced text-medium"><b>&nbsp;</b></h2>
                    <p class="text-small">{{absence.actualInTime}}</p>
                    <p class="text-small">{{absence.actualOutTime}}</p>
                  </div>
                  <div class="input-field col">
                    <h2 class="balanced text-medium"><b>&nbsp;</b></h2>
                    <span style="color: red;">SWD</span>
                    <br />
                    <span class="item-note calm" style="color: blue;">
                      <div ng-click="goToDetails()">Edit</div>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item item-icon-right" ng-if="absence.isDayOff" ng-click="goToDetails(absence.id)">
              <div class="inner-content">
                <div class="row">
                  <div class="input-field col">
                    <h2 class="balanced text-medium"><b>{{absence.hari}}</b></h2>
                    <p class="text-small">{{absence.tgl | date:'dd'}}</p>
                    <p class="text-small">{{absence.tgl | date:'MMM'}}</p>
                  </div>
                  <div class="input-field col">
                    <h2 class="balanced text-medium"><b>Actual</b></h2>
                    <p class="text-small">In</p>
                    <p class="text-small">Out </p>
                  </div>
                  <div class="input-field col">
                    <h2 class="balanced text-medium"><b>&nbsp;</b></h2>
                    <p class="text-small">{{absence.actualInTime}}</p>
                    <p class="text-small">{{absence.actualOutTime}}</p>
                  </div>
                  <div class="input-field col">
                    <h2 class="balanced text-medium"><b>&nbsp;</b></h2>
                    <span style="color: red;">SWD</span>
                    <br />
                    <span class="item-note calm" style="color: blue;">
                      <div ng-click="goToDetails()">Edit</div>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="item item-icon-right" style="background: #E68381; color: #fff; ">
            <div class="inner-content">
              <div class="row">
                <div class="input-field col">
                  <h2 style="color:#fff;"><b>WED</b></h2>
                  <span>02</span>
                  <br />
                  <span>AUG </span>
                </div>
                <div class="input-field col">
                  <h2 style="color:#fff;"><b>Actual</b></h2>
                  <span>In</span>
                  <br />
                  <span>Out </span>
                </div>
                <div class="input-field col">
                  <h2 class="balanced text-medium"><b>&nbsp;</b></h2>
                  <span>-</span>
                  <br />
                  <span>-</span>
                </div>
                <div class="input-field col">
                  <h2 class="balanced text-medium"><b>&nbsp;</b></h2>
                  <span>ANL</span>
                  <br />
                  <span class="item-note calm" style="color: blue;">
                    <div ng-click="goToDetails()">Edit</div>
                </span>
                </div>
              </div>
            </div>
          </div>
          <div class="item item-icon-right">
            <div class="inner-content">
              <div class="row">
                <div class="input-field col">
                  <h2 class="balanced text-medium"><b>WED</b></h2>
                  <p class="text-small">03 </p>
                  <p class="text-small">AUG </p>
                </div>
                <div class="input-field col">
                  <h2 class="balanced text-medium"><b>Actual</b></h2>
                  <p class="text-small">In</p>
                  <p class="text-small">Out </p>
                </div>
                <div class="input-field col">
                  <h2 class="balanced text-medium"><b>&nbsp;</b></h2>
                  <p class="text-small">-</p>
                  <p class="text-small">-</p>
                </div>
                <div class="input-field col">
                  <h2 class="balanced text-medium"><b>&nbsp;</b></h2>
                  <span style="color:red;">SWD</span>
                  <br />
                  <span class="item-note calm" style="color: blue;">
                    <div ng-click="goToDetails(1)">Edit</div>
                </span>
                </div>
              </div>
            </div>
          </div> -->
          </div>
          <div>
            <div class="row" ng-if="absenceList.length != 0" ng-show="isLoadmoreShow"
              style="padding-top:0px;min-height:120px">
              <button style="height:30px" class="button button-block button-outline button-positive"
                ng-click="LoadMoreShow()">Load More Results</button>
            </div>
            <div class="item" ng-if="absenceList.length == 0">
              <div class="col col-100">
                <h2>No request available</h2>
                <p>Please Pull to refresh</p>
              </div>
            </div>
          </div>
        </div>
    </ion-scroll>
  </ion-content>
</ion-view>
