<ion-view title="Submit {{categoryList}}">
  <ion-content class="has-header bt-grey profile" scroll="true">
    <form name="form" novalidate>
      <div class="list">
        <div class="item padding"
          ng-if="leaveCategory != 'overtime' && leaveCategory != 'check in / check out' && leaveCategory != 'absence transaction'">
          <div ng-if="leaveCategory =='leave' || leaveCategory =='permission'">
            <div class="row no-padding text-center bt-grey bb-grey" style="height:44px; border:none;"
              ng-if="leaveCategory =='leave'" ng-repeat="balance in balance">
              <div class="col col-35">
                <p class="bb text-small padding uppercase">Remaining {{balance.period}}</p>
              </div>
              <div class="col col-15">
                <p class="bb text-large padding uppercase" style="min-height:42px !important;">
                  <b>{{balance.balanceEnd}}</b></p>
              </div>
              <div class="col col-35">
                <p class="bb text-small padding uppercase">Used {{balance.period}}</p>
              </div>
              <div class="col col-15">
                <p class="bb text-large padding uppercase" style="min-height:42px !important;">
                  <b>{{balance.balanceUsed}}</b></p>
              </div>
            </div>
            <div class="item item-divider uppercase">
              Type
            </div>
            <div class="item item-icon-right" style="border:0px" modal-select ng-model="leave.type" options="selectType"
              modal-title="Select a Type" option-property="type" on-select="onSelectType()">
              {{labelType}}
              <i class="icon ion-chevron-right icon-accessory"></i>
              <div class="option">
                <h2>{{option.typeLabel}}</h2>
              </div>
            </div>
            <div class="item item-divider uppercase">
              Date
            </div>
            <div class="row">
              <div class="input-field col">
                <p><b>Start</b></p>
                <ionic-datepicker class="button button-block button-outline button-positive"
                  ng-click="openDatePicker()">
                  {{leave.startDate| date: "yyyy-MM-dd"}}
                </ionic-datepicker>
              </div>
            </div>
            <div class="row" ng-if="leaveCategory !='Overtime' &&  leaveCategory !='Edit Attendance'">
              <div class="input-field col">
                <p><b>End</b></p>
                <ionic-datepicker class="button button-block button-outline button-positive"
                  ng-click="openDatePicker1()">
                  {{leave.endDate| date: "yyyy-MM-dd"}}
                </ionic-datepicker>
              </div>
            </div>
            <div class="item item-divider uppercase">
              Substitute
            </div>
            <div class="row">
              <div class="input-field col s12">
                <textarea style="width:100%; border-color:#ddd; border: solid 2px #c9c9c9;border-radius:5px" rows="3"
                  placeholder="Enter name of Substitute employee" maxlength="100" ng-model="leave.remark" name="reason"
                  ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/"></textarea>
                <font color="red" style="font-size: 10px"><span ng-show="form.reason.$invalid">Should not contain any
                    special characters</span></font>
              </div>
            </div>
          </div>
          <!-- SICK -->
          <div ng-if="leaveCategory =='sick'">
            <div class="row no-padding text-center bt-grey bb-grey" style="height:44px">
              <div class="col col-40">
                <p class="bb text-medium padding uppercase">Remaining</p>
              </div>
              <div class="col col-10 bl-grey">
                <p class="bb text-large padding uppercase">{{balance.balanceEnd}}</p>
              </div>
              <div class="col col-40">
                <p class="bb text-medium padding uppercase">Used</p>
              </div>
              <div class="col col-10 bl-grey">
                <p class="bb text-large padding uppercase">{{balance.balanceUsed}}</p>
              </div>
            </div>
            <div class="item item-divider uppercase">
              Type
            </div>
            <div class="item item-icon-right" style="border:0px" modal-select ng-model="leave.type" options="selectType"
              modal-title="Select a Type" option-property="type" on-select="onSelectType()">
              {{labelType}}
              <i class="icon ion-chevron-right icon-accessory"></i>
              <div class="option">
                <h2>{{option.typeLabel}}</h2>
              </div>
            </div>
            <div class="item item-divider uppercase">
              Date
            </div>
            <div class="row">
              <div class="input-field col">
                <p>Start</p>
                <ionic-datepicker class="button button-block button-outline button-positive"
                  ng-click="openDatePicker()">
                  {{leave.startDate| date: "yyyy-MM-dd"}}
                </ionic-datepicker>
              </div>
            </div>
            <div class="row" ng-if="leaveCategory !='Overtime' &&  leaveCategory !='Edit Attendance'">
              <div class="input-field col">
                <p>End</p>
                <ionic-datepicker class="button button-block button-outline button-positive"
                  ng-click="openDatePicker1()">
                  {{leave.endDate| date: "yyyy-MM-dd"}}
                </ionic-datepicker>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <p>Remark</p>
                <textarea style="width:100%; border-color:#ddd; border: solid 2px #c9c9c9;border-radius:5px" rows="3"
                  placeholder="Enter your remark" maxlength="100" ng-model="leave.remark" name="remark"
                  ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/"></textarea>
                <font color="red" style="font-size: 10px"><span ng-show="form.remark.$invalid">Should not contain any
                    special characters</span></font>
              </div>
            </div>
          </div>
          <!-- Overtime -->
          <div ng-if="leaveCategory == 'overtime'">
            <div class="item item-divider uppercase">
              Type
            </div>
            <div class="item item-icon-right" style="border:0px" modal-select ng-model="leave.type" options="selectType"
              modal-title="Select a Type" option-property="type" on-select="onSelectType()">
              {{labelType}}
              <i class="icon ion-chevron-right icon-accessory"></i>
              <div class="option">
                <h2>{{option.typeLabel}}</h2>
              </div>
            </div>
            <div class="item item-divider uppercase">
              Date & Time
            </div>
            <div class="row">
              <p><b>Start</b></p>
            </div>
            <div class="row">
              <div class="col">
                <ionic-datepicker class="button button-block button-outline button-dark text-medium"
                  ng-click="openDatePickerOvertime1()">
                  <span class="icon ion-calendar">&nbsp;&nbsp;{{leave.startDateInTimeDate| date: "yyyy-MM-dd"}}</span>
                </ionic-datepicker>
              </div>
              &nbsp;
              <div class="col ">
                <ionic-timepicker class="button button-block button-outline button-dark text-medium"
                  ng-click="openTimePickerOvertime1()">
                  <span class="icon ion-clock">&nbsp;&nbsp;{{leave.startDateInTimeTime | date:'HH:mm'}}</span>
                </ionic-timepicker>
              </div>
            </div>
            <div class="row">
              <p><b>End</b></p>
            </div>
            <div class="row">
              <div class="col">
                <ionic-datepicker class="button button-block button-outline button-dark text-medium"
                  ng-click="openDatePickerOvertime2()">
                  <span class="icon ion-calendar">&nbsp;&nbsp;{{leave.endDateInTimeDate| date: "yyyy-MM-dd"}}</span>
                </ionic-datepicker>
              </div>
              &nbsp;
              <div class="col">
                <ionic-timepicker class="button button-block button-outline button-dark text-medium"
                  ng-click="openTimePickerOvertime2()">
                  <span class="icon ion-clock">&nbsp;&nbsp;{{leave.endDateInTimeTime | date:'HH:mm'}}</span>
                </ionic-timepicker>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <p>Remark</p>
                <textarea style="width:100%; border-color:#ddd; border: solid 2px #c9c9c9;border-radius:5px" rows="3"
                  placeholder="Enter your remark" maxlength="100" ng-model="leave.remark" name="remark1"
                  ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/"></textarea>
                <font color="red" style="font-size: 10px"><span ng-show="form.remark1.$invalid">Should not contain any
                    special characters</span></font>
              </div>
            </div>
          </div>
          <div ng-if="leaveCategory == 'attendance edit'">
            <div class="item item-divider uppercase">
              Type
            </div>
            <div class="item item-icon-right" style="border:0px" modal-select ng-model="leave.type" options="selectType"
              modal-title="Select a Type" option-property="type" on-select="onSelectType()">
              {{labelType}}
              <i class="icon ion-chevron-right icon-accessory"></i>
              <div class="option">
                <h2>{{option.typeLabel}}</h2>
              </div>
            </div>
            <div class="row">
              <div class="input-field col">
                <p>Date</p>
                <ionic-datepicker class="button button-block button-outline button-positive"
                  ng-click="openDatePicker()">
                  {{leave.startDate| date: "yyyy-MM-dd"}}
                </ionic-datepicker>
              </div>
            </div>
            <div class="row">
              <div class="input-field col-50">
                <p>In</p>
                <ionic-timepicker ng-click="openTimePicker1()">
                  <button class="button button-block button-outline button-positive">{{attendanceIn}}</button>
                </ionic-timepicker>
              </div>&nbsp;&nbsp;
              <div class="input-field col-50">
                <p>Out</p>
                <ionic-timepicker ng-click="openTimePicker2()">
                  <button class="button button-block button-outline button-positive">{{attendanceOut}}</button>
                </ionic-timepicker>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <p>Remark</p>
                <textarea style="width:100%; border-color:#ddd; border: solid 2px #c9c9c9;border-radius:5px" rows="3"
                  placeholder="Enter your remark" maxlength="100" ng-model="leave.remark" name="remark2"
                  ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/"></textarea>
                <font color="red" style="font-size: 10px"><span ng-show="form.remark2.$invalid">Should not contain any
                    special characters</span></font>
              </div>
            </div>
            <div class="row">
              <button class="btn button-medium button button-balanced  button-block"
                style="font-weight:bold;background-color:#FF9800" ng-click="submitForm()"
                ng-disabled="form.$invalid">Next</button>
            </div>
          </div>
        </div>
        <div class="row"
          ng-if="leaveCategory != 'overtime' && leaveCategory != 'check in / check out' && leaveCategory != 'absence transaction'">
          <button class="btn button-medium button button-balanced  button-block"
            style="font-weight:bold;background-color:#FF9800" ng-click="submitForm()" ng-disabled="form.$invalid">Next
          </button>
        </div>
        <div class="item padding" ng-if="leaveCategory == 'check in / check out'">
          <div class="row">
            <div class="input-field col">
              <p><b>TYPE</b></p>
              <select name="group" id="group">
                <option value="" selected>-- Select Type --</option>
                <option value="Group Security">Group Security</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="input-field col">
              <p><b>QR Code</b></p>
              <button class="btn button-medium button button-balanced  button-block"
                style="font-weight:bold;background-color:blue;">SCAN</button>
            </div>
          </div>
          <div class="row">
            <div class="input-field col">
              <p><b>LOCATION</b>
                <br /> ACC.TB Simatupang
                <br /> 6th Floor HC
              </p>
            </div>
          </div>
          <div class="row">
            <div class="input-field col">
              <p><b>PURPOSE</b></p>
              <select name="group" id="group">
                <option value="" selected>-- Select Purpose --</option>
                <option value="Group Security">Group Security</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="input-field col">
              <p><b>REMARK</b></p>
              <textarea class="form-control" placeholder="notes request overtime"></textarea>
            </div>&nbsp;
            <div class="input-field col">
            </div>
          </div>
          <div class="row">
            <button class="btn button-medium button button-balanced  button-block"
              style="font-weight:bold;background-color:#FF9800" ng-click="submitForm()"
              ng-disabled="form.$invalid">SUBMIT</button>
          </div>
        </div>
      </div>
    </form>
    <div class="row" ng-if="leaveCategory == 'overtime'">
      <div class="container text-center">
        <img src="img/talents/42/request-approval.png">
        <br>
        <button class="btn button-medium button button-balanced  button-block" ng-click="goToOvertime('overtime')"
          style="font-weight:bold;background-color:#00BFFF">Overtime Planning </button>
      </div>
    </div>
    <div class="row" ng-if="leaveCategory == 'overtime'">
      <div class="container text-center">
        <img src="img/talents/42/realization-approval.png">
        <br>
        <button class="btn button-medium button button-balanced  button-block" ng-click="goToRealization('overtime')"
          style="font-weight:bold;background-color:#00BFFF">Realization Overtime </button>
      </div>
    </div>
    <div ng-if="leaveCategory == 'absence transaction'">
      <div class="item item-text-wrap">
        <div class="row">
          <div class="input-field col">
            <p>Month</p>
            <select ng-model="search.month">
              <option ng-repeat="month in selectMonth">{{month.name}}</option>
            </select>
          </div>&nbsp;
          <div class="input-field col">
            <p>Year</p>
            <select ng-model="search.year">
              <option ng-repeat="year in selectYear">{{year}}</option>
            </select>
          </div>&nbsp;
          <div class="input-field col">
            <p>&nbsp;</p>
            <button class="btn waves-effect waves-light button button-balanced  button-block"
              ng-click="searchAbsenceList(search.month,search.year)"
              style="font-weight:bold;background-color:#FF9800;height:48px;margin-top:2px;">Show</button>
          </div>
        </div>
      </div>
      <ion-refresher pulling-text="Pull to refresh" refreshing-text="Loading..." refreshing-icon="ion-loading-c"
        pulling-icon="ion-ios7-arrow-thin-down" on-refresh="refresh()">
      </ion-refresher>
      <div class="list">
        <div ng-repeat="absence in absenceList">
          <div ng-if="absence.id > 0">
            <div class="item item-icon-right" ng-if="!absence.isDayOff">
              <div class="inner-content">
                <div class="row">
                  <div class="input-field col">
                    <h2 class="balanced text-medium"><b>{{absence.hari}}</b></h2>
                    <span>{{absence.tgl | date:'dd'}}</br>
                      {{absence.tgl | date:'MMM'}}</span>
                  </div>
                  <div class="input-field col">
                    <h2 class="balanced text-medium"><b>Actual</b></h2>
                    <span>In</br>
                      Out </span>
                  </div>
                  <div class="input-field col">
                    <h2 class="balanced text-medium"><b>&nbsp;</b></h2>
                    <span>{{absence.actualInTime | timeWithoutSecond}}</br>
                      {{absence.actualOutTime | timeWithoutSecond}}</span>
                  </div>
                  <div class="input-field col">
                    <h2 class="balanced text-medium"><b>&nbsp;</b></h2>
                    <span style="color: red; padding-left: 8px; ">{{absence.remark | customSplit}}</span><br />
                    <span
                      style="color: red; padding-left: 8px; padding-top: 2px;">{{absence.remark | customSplit2}}</span>
                    <span
                      style="color: red; padding-left:  8px; padding-top: 2px;">{{absence.remark | customSplit3}}</span>
                    <span
                      style="color: red; padding-left:  8px; padding-top: 2px;">{{absence.remark | customSplit4}}</span>
                    <br />


                    <span ng-if="!absence.haveCurrentTransaction" class="item-note calm" style="color: blue;"
                      ng-click="goToDetails(absence.id,  absence.tgl, absence.actualInTime, absence.actualOutTime)">
                      Edit
                    </span>



                  </div>
                </div>
              </div>
            </div>
            <div class="item item-icon-right" ng-if="absence.isDayOff" style="background: #E68381; color: #fff;">
              <div class="inner-content">
                <div class="row">
                  <div class="input-field col">
                    <h2 style="color:#fff;"><b>{{absence.hari}}</b></h2>
                    <span>{{absence.tgl | date:'dd'}}</br>
                      {{absence.tgl | date:'MMM'}}</span>
                  </div>
                  <div class="input-field col">
                    <h2 style="color:#fff;"><b>Actual</b></h2>
                    <span>In</br>
                      Out </span>
                  </div>
                  <div class="input-field col">
                    <h2 class="balanced text-medium"><b>&nbsp;</b></h2>
                    <span>{{absence.actualInTime | timeWithoutSecond }}</br>
                      {{absence.actualOutTime | timeWithoutSecond}}</span>
                  </div>
                  <div class="input-field col">
                    <h2 class="balanced text-medium"><b>&nbsp;</b></h2>
                    <span style="padding-left:  8px; ">{{absence.remark | customSplit}}</span>
                    <span style="padding-left:  8px; padding-top: 2px;">{{absence.remark | customSplit2}}</span>
                    <span style="padding-left:  8px; padding-top: 2px;">{{absence.remark | customSplit3}}</span>
                    <span style="padding-left:  8px; padding-top: 2px;">{{absence.remark | customSplit4}}</span>
                    <br />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div ng-if="absence.id == 0">
            <div class="item item-icon-right" ng-if="!absence.isDayOff">
              <div class="inner-content">
                <div class="row">
                  <div class="input-field col">
                    <h2 class="balanced text-medium"><b>{{absence.hari}}</b></h2>
                    <span>{{absence.tgl | date:'dd'}}</br>
                      {{absence.tgl | date:'MMM'}}</span>
                  </div>
                  <div class="input-field col">
                    <h2 class="balanced text-medium"><b>Actual</b></h2>
                    <span>In</br>
                      Out </span>
                  </div>
                  <div class="input-field col">
                    <h2 class="balanced text-medium"><b>&nbsp;</b></h2>
                    <span>{{absence.actualInTime | timeWithoutSecond }}</br>
                      {{absence.actualOutTime | timeWithoutSecond}}</span>
                  </div>
                  <div class="input-field col">
                    <h2 class="balanced text-medium"><b>&nbsp;</b></h2>
                    <span
                      style="color: red; padding-left:  8px; padding-top: 2px;">{{absence.remark | customSplit}}</span>
                    <span
                      style="color: red; padding-left:  8px; padding-top: 2px;">{{absence.remark | customSplit2}}</span>
                    <span
                      style="color: red; padding-left:  8px; padding-top: 2px;">{{absence.remark | customSplit3}}</span>
                    <span
                      style="color: red; padding-left:  8px; padding-top: 2px;">{{absence.remark | customSplit4}}</span>
                    <br />

                    <span ng-if="!absence.haveCurrentTransaction" class="item-note calm" style="color: blue;">
                      Edit
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item item-icon-right" ng-if="absence.isDayOff" style="background: #E68381; color: #fff;">
              <div class="inner-content">
                <div class="row">
                  <div class="input-field col">
                    <h2 style="color:#fff;"><b>{{absence.hari}}</b></h2>
                    <span>{{absence.tgl | date:'dd'}}<br />
                      {{absence.tgl | date:'MMM'}}</span>
                  </div>
                  <div class="input-field col">
                    <h2 style="color:#fff;"><b>Actual</b></h2>
                    <span>In <br />
                      Out </span>
                  </div>
                  <div class="input-field col">
                    <h2 class="balanced text-medium"><b>&nbsp;</b></h2>
                    <span>{{absence.actualInTime  | timeWithoutSecond}}</br>
                      {{absence.actualOutTime | timeWithoutSecond}}</span>
                  </div>
                  <div class="input-field col">
                    <h2 class="balanced text-medium"><b>&nbsp;</b></h2>
                    <span style="padding-left:  8px; padding-top: 2px;">{{absence.remark | customSplit}}</span>
                    <span style="padding-left:  8px; padding-top: 2px;">{{absence.remark | customSplit2}}</span>
                    <span style="padding-left:  8px; padding-top: 2px;">{{absence.remark | customSplit3}}</span>
                    <span style="padding-left:  8px; padding-top: 2px;">{{absence.remark | customSplit4}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item" ng-if="absenceList.length == 0">
          <div class="col col-100">
            <h2>No request available</h2>
            <p>Please Pull to refresh</p>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </ion-content>
</ion-view>
