<ion-view title="Approval Overtime">
  <ion-content padding="false" scroll="true">
    <form name="form" novalidate>
      <div class="list">
        <div class="item padding">
          <div class="item item-divider uppercase">
            <center>Overtime Plan</center>
          </div>

          <br />


          <div class="item item-avatar item-text-wrap">
            <img ng-src="img/1491892621_profle.png">
            <h2>Lidya Johan</h2>
            <p>1434</p>
            <p>Overtime Planning</p>
          </div>


          <div class="row">
            <div class="input-field col">
              <p><b>REQUEST DATE</b></p>
              <ionic-datepicker class="button button-block button-outline button-positive" ng-click="openDatePicker()">
                {{leave.startDate| date: "yyyy-MM-dd"}}
              </ionic-datepicker>
            </div>
          </div>

          <div class="row">
            <div class="input-field col">
              <p><b>START DATE</b></p>
              <ionic-timepicker class="button button-block button-outline button-dark text-medium"
                ng-click="openDatePickerOverRealization()">
                <span>&nbsp;&nbsp;{{realization.realizationDate | date:'yyyy-MM-dd'}}</span>
              </ionic-timepicker>
            </div>&nbsp;
            <div class="input-field col">
              <p><b>END DATE</b></p>
              <ionic-timepicker class="button button-block button-outline button-dark text-medium"
                ng-click="openDatePickerOverRealization2()">
                <span>&nbsp;&nbsp;{{realization.realizationDate2 | date:'yyyy-MM-dd'}}</span>
              </ionic-timepicker>
            </div>
          </div>

          <div class="row">
            <div class="input-field col">
              <p><b>Requested In<br />
                  Requested Out</b></p>
            </div>&nbsp;
            <div class="input-field col">
              <p><b>08:00<br />
                  17:00</b></p>
            </div>
          </div>
          <br />



          <div class="row">
            <div class="input-field col">
              <p><b>REMARK</b></p>
              <textarea class="form-control" placeholder="notes request overtime"></textarea>
            </div>&nbsp;
            <div class="input-field col">
            </div>
          </div>

          <div class="row">
            <button class="btn button-medium button button-balanced  button-block"
              style="font-weight:bold;background-color:red" ng-click="submitForm()"
              ng-disabled="form.$invalid">Approve</button>
            &nbsp;
            <button class="btn button-medium button button-balanced  button-block"
              style="font-weight:bold;background-color:green" ng-click="submitForm()"
              ng-disabled="form.$invalid">Reject</button>
          </div>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
