<ion-view title="Confirmation" cache-view="false">

    <ion-content  class="profile has-header" scroll="true">
           <div class="card">
              <div class="list">
                <div class="item item-divider">Information</div> 
                <div class="item">
                    <div class="item item-light" >
                        <i class="icon ion-android-bookmark text-large"></i>
                        &nbsp;{{categoryType}}
                    </div>

                    <div class="item item-text-wrap">
                        <h3 class="balanced ">{{typeDesc}}</h3>
                    </div>

                    <div class="item item-light" ng-if="categoryType!='overtime'">
                        <i class="icon ion-android-calendar text-large"></i>
                        &nbsp;DATE
                    </div>

                     <div class="item item-text-wrap" ng-if="categoryType!='overtime'">
                        <div class="row">
                            <div class="col-40 text-center">
                                <h3 class="balanced">{{startDate | date: 'dd MMM yyyy'}}<h3>
                            </div>
                            <div class="col-20 text-center" >
                                <h3 class="balanced">to</h3>
                            </div>
                            <div class="col-40 text-center" >
                                <h3 class="balanced">{{endDate | date: 'dd MMM yyyy'}}</h3>
                            </div>
                        </div>
                     </div>

                    <div class="item item-light" ng-if="categoryType=='attendance edit'">
                        <i class="icon ion-android-time text-large"></i>
                        &nbsp;Attendance
                    </div>

                     <div class="item item-text-wrap" ng-if="categoryType=='attendance edit'">
                        <div class="row ">
                            <div class="col-40 text-center">
                                <h3 class="balanced">{{attendanceInTime | date: 'HH:mm'}}<h3>
                            </div>
                            <div class="col-20 text-center" >
                                <h3 class="balanced">to</h3>
                            </div>
                            <div class="col-40 text-center" >
                                <h3 class="balanced">{{attendanceOutTime | date: 'HH:mm'}}</h3>
                            </div>
                        </div>
                     </div>

                     <div class="item item-light" ng-if="categoryType=='overtime'">
                        <i class="icon ion-android-walk text-large"></i>
                        &nbsp;Overtime
                    </div>

                     <div class="item item-text-wrap" ng-if="categoryType=='overtime'">
                        <div class="row ">
                            <div class="col-50 text-center">
                                <h2 class="text-small">Start</h2>
                                <h3 class="balanced">{{startDateInTime | date: 'dd MMM HH:mm'}}<h3>
                            </div>
                           
                            <div class="col-50 text-center" >
                                <h2 class="text-small">End</h2>
                                <h3 class="balanced">{{endDateInTime | date: 'dd MMM HH:mm'}}</h3>
                            </div>
                        </div>
                        <!-- 
                        <div class="row ">
                            <div class="col-50 text-center">
                                <h2 class="text-small">In</h2>
                                <h3 class="balanced">{{(overtimeIn / 60)  |  round:'':'down'}} Hours {{overtimeIn % 60}} Min<h3>
                            </div>
                           
                            <div class="col-50 text-center" >
                                <h2 class="text-small">Out</h2>
                                <h3 class="balanced">{{(overtimeOut / 60) | round:'':'down'}} Hours {{overtimeOut % 60 }} Min</h3>
                            </div>
                        </div> -->
                     </div>

                     <div class="item item-light">
                        <i class="icon ion-compose text-large"></i>
                            &nbsp;TOTAL
                     </div>
                     <div class="item item-text-wrap" ng-if="categoryType!='overtime'">
                        <div class="row">
                            <div class="col text-left">
                                <h3 class="balanced">Request : <b>{{total | number : 0}}</b> Days<h3>
                            </div>
                            <div class="col text-left">
                                <h3 class="balanced">Balance : <b>{{totalBalance | number : 0}}</b> Days</h3>
                            </div>
                        </div>
                     </div>
                     <div class="item item-text-wrap" ng-if="categoryType=='overtime'">
                        <div class="row">
                            <div class="col text-left">
                                <h3 class="balanced">Request : <b>{{(overtimeIn / 60)  |  round:'':'down'}} Hours {{overtimeIn % 60}} Min</b> <h3>
                            </div>
                            
                        </div>
                     </div>
                </div>
              </div>
        </div>
        
        <div class="list" ng-if="requestType.showAttachment" >
            <div class="item item-divider">Attach Supporting Document</div> 
                <div class="row" ng-show="appMode=='mobile'">
                  <button class="button button-block button-outline button-positive" ng-click="addPicture()"><i class="icon ion-ios-camera-outline"></i> Add Attachment</button>
                </div>
                <div class="row" ng-show="appMode=='web'">
                    <input id="inputImage" type="file" accept="image/*" ng-model="requestHeader.attachments" image="requestHeader.attachments" resize-max-height="1280" resize-max-width="720" resize-quality="0.8" resize-type="image/jpg" multiple="multiple" ng-image-compress/> 
                </div>
                <div class="row post" ng-show="appMode=='mobile'"  >
                    <div class="col" ng-repeat="items in images" style="height:90px; width:90px" ><img height="90px" width="90px" ng-src="{{items.image}}" /> <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button></div>
                   
                </div>
                <div class="row post" ng-show="appMode=='web'">
                            <div class="col" ng-repeat="item in requestHeader.attachments" style="max-height:90px; max-width:90px"  >
                                <img height="90px" width="90px" ng-src="{{item.compressed.dataURL}}" /> <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button>
                            </div>
                </div>
                <div class="row center" ng-show="appMode=='mobile'">
                     <div class="col" style="max-height:90px;max-width:90px" ng-if="images.length==0"><img ng-src="{{defaultImage}}" height="90px" ></div>
                </div>

                <div class="row center" ng-show="appMode=='web'">
                         <div class="col" style="max-height:90px;max-width:90px"  ng-if="requestHeader.attachments==0">
                            <img ng-src="{{defaultImage}}" height="90px" >
                        </div>
                </div>
        </div>
        <div class="row" style="padding-top:50px">
            <button class="btn button-small  waves-effect waves-light button button-calm  button-block waves-effect waves-light"  ng-click="goBack('app.benefitlisttype')">Cancel</button>&nbsp;
            <button class="btn button-small waves-effect waves-light button button-balanced  button-block waves-effect waves-light" ng-disabled="totalCurrentClaim == 0 || buttonDisable" ng-click="submitForm()">Submit</button>
            
        </div>

    </ion-content>
</ion-view>
