<ion-view title="My Leaves">
<style>

    .left {
        text-align: left;
        float: left;
        width: 50%;
    }
    .right {
        text-align: right;
        float: right;
        width: 50%;
    }
    .thicker {
        font-weight: bold;
    }
</style>

    <ion-content class="has-header" scroll="true">
        <ion-refresher pulling-text="Pull to refresh"
             refreshing-text="Loading..."
             refreshing-icon="ion-loading-c"
             pulling-icon="ion-ios7-arrow-thin-down"
             on-refresh="refresh()">
        </ion-refresher>
        <div  class="bg-lightgrey">
            <div class="item item-text-wrap item-icon-right" ng-repeat="item in leaves"  ng-click="goToDetailLeave(item.id)">
                <div class="row" ng-if="item.categoryType != 'Overtime'">
                    <div class="left"><h5 class="uppercase no-margin no-padding thicker">{{item.startDate | date: 'dd MMM'}} - {{item.endDate | date: 'dd MMM yyyy'}}</h5></div>
                </div>
                <div class="row" ng-if="item.categoryType == 'Overtime'">
                    <div class="left"><h5 class="uppercase no-margin no-padding thicker">{{item.startDateInTime |  date: 'dd MMM HH:mm'}} - {{item.endDateInTime | date: 'dd MMM HH:mm'}}</h5></div>
                </div>
               
                <div class="row">
                    <div class="uppercase left"><h3 class="thicker">{{item.categoryType}}</h3></div>
                    <div class="uppercase right" ng-if="item.categoryType != 'Overtime'"><h5 class="positive no-margin no-padding thicker">{{item.totalAmount}} Days</h5></div>
                    <div class="uppercase right" ng-if="item.categoryType == 'Overtime'"><h5 class="positive no-margin no-padding thicker">{{item.overtimeIn}} min</h5></div>
                </div>
                <div class="row">
                    <div class="left"><h5 style="color: #949494;">{{item.createdDate  | date: 'dd MMM yyyy HH:mm'}}</h5></div>
                    <div class="right"><h5 class="energized ">{{item.status}}</h5></div>
                </div>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </div>
            <div class="item" ng-if="leaves.length == 0" >
                    <div class="col col-100">
                        <h2>Data not found</h2>
                        <p>Please Pull to refresh !</p>
                    </div>  
            </div>
        </div>
    </ion-content>

    <a class="btn-floating btn-large waves-effect waves-light red lighten-1" style="position:fixed; bottom:3%;right:5%;z-index:999" ui-sref="app.chooseleavecategory"><i class="icons ion-plus"></i></a>
</ion-view>