<ion-view title="Pattern" class="bg-lightgrey">
  <ion-nav-buttons side="right">
    <button class="btn btn-success" ng-if="pattern.id != null" ng-click="saveData(pattern.id)">
      SAVE DATA
    </button>

    <button class="btn btn-success" ng-if="pattern.id == undefined" ng-click="saveData(0)">
      SAVE DATA
    </button>
  </ion-nav-buttons>
  </div>
  <ion-content class="has-header bt-grey profile" scroll="false">
    <div class="row text-center" style="height:40px">
      <div class="col font-thin" ng-class="module.type === 'general' ? 'text-medium balanced bb' : ''"
        ng-click="chooseTab('general')"><b>General</b></div>
      <div class="col font-thin" ng-class="module.type === 'detail' ? 'text-medium balanced bb' : ''"
        ng-click="chooseTab('detail')"><b>Detail</b></div>
    </div>
    <ion-scroll class="bg-lightgrey" direction="y" style="height:100%">
      <div ng-if="module.type == 'general'">
        <div class="item no-padding">
          <form name="form" novalidate>
            <div class="list">
              <div class="row">
                <div class="input-field col">
                  <p>Code</p>
                  <input id="first_name" placeholder="Enter Code" type="text" class="validate" name="patternCode"
                    ng-model="pattern.patternCode" style="width: 100%;">

                </div>
              </div>
              <div class="row">
                <div class="input-field col">
                  <p>Name</p>
                  <input id="last_name" placeholder="Enter Name" type="text" class="validate" name="patternName"
                    ng-model="pattern.patternName" ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/" style="width: 100%;">
                  <font color="red" style="font-size: 10px"><span ng-show="form.patternName.$invalid">Should not contain
                      any special characters</span></font>
                </div>
              </div>


              <br />
              <div ng-if="pattern.id > 0" class="row">
                <div class="col">
                  <ion-list>
                    <div>
                      <ion-item class="item-stable">
                        Information
                      </ion-item>
                      <ion-item class="item-accordion">
                        <p>
                          Created By : <b>{{pattern.createdBy}}</b>
                          <br /> Created Date : <b>{{pattern.createdDate |  date: "yyyy-MM-dd HH:mm:ss"}}</b>
                          <br /> Modified By : <b>{{pattern.modifiedBy}}</b>
                          <br /> Modified Date : <b>{{pattern.modifiedDate |  date: "yyyy-MM-dd HH:mm:ss"}}</b>
                          <br />
                        </p>
                      </ion-item>
                    </div>
                  </ion-list>
                </div>
                <div class="col"></div>
              </div>

              <br />
            </div>
          </form>
        </div>
      </div>
      <div ng-if="module.type == 'detail'">
        <!-- <div class="item no-padding">
          <form name="form" novalidate>
            <div class="list">
               <div class="row">
                <div class="input-field col">
                  <p for="first_name">Pattern Code</p>
                  <input id="first_name" placeholder="Enter Pattern Code" type="text" class="validate" name="detailPattern.pattern.patternCode" ng-model="detailPattern.pattern.patternCode" ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/" maxlength="40">
                  <font color="red" style="font-size: 10px"><span ng-show="form.detailPattern.pattern.patternCode.$invalid">Should not contain any special characters</span></font>
                </div>
              </div>
              <div class="row">
                <div class="input-field col">
                  <p for="last_name">Pattern No</p>
                  <input id="last_name" placeholder="Enter Pattern No" type="text" class="validate" name="detailPattern.patternNo" ng-model="detailPattern.patternNo" ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/" maxlength="30">
                  <font color="red" style="font-size: 10px"><span ng-show="form.detailPattern.patternNo.$invalid">Should not contain any special characters</span></font>
                </div>
              </div>


              <div class="row">
                <div class="input-field col">
                  <p for="last_name">Shift Code</p>
                  <input id="last_name" placeholder="Enter Shift Code" type="text" class="validate" name="detailPattern.shift.shiftCode" ng-model="detailPattern.shift.shiftCode" maxlength="30">
          
                </div>
              </div>
            
            </div>
          </form>
        </div> -->

        <div class="card hybrid" style="padding:0px 0px">

          <div class="item item-icon-right" ng-repeat="list in listdetailPattern" ng-click="goToDetailPattern(list.id)">
            <div class="inner-content">
              <h2 class="balanced text-medium"><b>{{list.patternNo}}</b></h2>
              <p class="text-small">{{list.shift.shiftName}}</p>
              <p class="text-small">{{list.shift.startTime}} - {{list.shift.endTime}}</p>
            </div>

          </div>
        </div>

      </div>
    </ion-scroll>

    <button class="btn-floating btn-large waves-effect waves-light red lighten-1" ng-if="module.type == 'detail'"
      ng-disabled="indentityPage < 1" style="position:fixed; bottom:3%;right:5%;z-index:999"
      ng-click="goToAddDetailPattern();"><i class="icons ion-plus"></i></button>


    <!--     <button class="btn-floating btn-large waves-effect waves-light red lighten-1" ng-if="module.type == 'detail'"   style="position:fixed; bottom:3%;right:5%;z-index:999" ng-click="goToAddDetailPattern();"><i class="icons ion-plus"></i></button> -->
  </ion-content>
</ion-view>
