<ion-view title="Attendance Group">
  <ion-content class="has-header" scroll="false">
    <ion-scroll class="bg-lightgrey" direction="y" style="height:100%">
      <ion-refresher pulling-text="Pull to refresh" refreshing-text="Loading..." refreshing-icon="ion-loading-c" pulling-icon="ion-ios7-arrow-thin-down" on-refresh="refresh()">
      </ion-refresher>
      <div class="bg-lightgrey">
        <div class="list">
          <!-- <div class="item item-input-inset">
            <select ng-model="formSearching.selectby" class="select-dropdown" style="height: 30px;">
              <option value="">-- Select By --</option>
              <option ng-value="code">Code</option>
              <option ng-value="name">Name</option>
            </select>
          </div> -->
          <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input type="text" ng-model="formSearching.search" placeholder="Search..." ng-keypress="($event.which === 13)? find(0):0">
            </label>
            <button class="button button-small" ng-click="find(0)">
              Search &nbsp;
            </button>
          </div>
        </div>
        <ion-scroll class="bg-lightgrey" direction="y" style="max-height:100vh;">
          <ion-refresher pulling-text="Pull to refresh" refreshing-text="Loading..." refreshing-icon="ion-loading-c" pulling-icon="ion-ios7-arrow-thin-down" on-refresh="refresh()">
          </ion-refresher>
          <div class="item item-icon-right" ng-repeat="attendanceGroup in attendanceGroupList" ng-click="goToDetails(attendanceGroup.id)">
            <div class="inner-content">
              <h2 class="balanced text-medium"><b>{{attendanceGroup.groupName}}</b></h2>
              <p class="text-small">{{attendanceGroup.groupCode}}</p>
            </div>
          </div>
          <div>
            <div class="row" ng-if="attendanceGroupList.length != 0" ng-show="isLoadMoreAtShow" style="padding-top:0px;min-height:120px">
              <button style="height:30px" class="button button-block button-outline button-positive" ng-click="LoadMoreAtShow()">Load More Results</button>
            </div>
            <div class="item" ng-if="attendanceGroupList.length == 0">
              <div class="col col-100">
                <h2>No request available</h2>
                <p>Please Pull to refresh</p>
              </div>
            </div>
          </div>
        </ion-scroll>
      </div>
    </ion-scroll>
  </ion-content>
  <a class="btn-floating btn-large waves-effect waves-light red lighten-1" ng-show="isShow == 1" style="position:fixed; bottom:3%;right:5%;z-index:999" ng-click="goToAddattendanceGroup();"><i class="icons ion-plus"></i></a>
</ion-view>
