<ion-view title="{{title}}" cache-view="false">
  <style type="text/css">
    .scroll {
      height: 100%;
    }

  </style>
  <ion-content class="profile has-header" scroll="true">
    <div class="centered">

      <div class="row">
        <p class="col-sm-4 text-right padding-vertical margin-vertical">In the office</p>
        <ion-toggle class="col-sm-4 text-left padding-vertical margin-vertical" style="height:55px;border:0;"
          ng-model="toggled.checked"></ion-toggle>
        <p class="col-sm-4 text-left padding-vertical margin-vertical">Out of office</p>
      </div>

    </div>
    <div id="map" data-tap-disabled="true" style="display: block; background-color: #fafafa;height:50%"></div>
    <div class="row" ng-if="isToggled()">
      <div class="input-field col">
        <p><b>Purpose</b></p>
        <select ng-model="checkin.purpose">
          <option value="">-- Select By --</option>
          <option value="MTGL">Meeting</option>
          <option value="DNS">Perjalanan Dinas</option>
          <option value="TRN">Training/Seminar</option>
          <option value="DNSL">Dinas Diluar Kantor</option>
          <option value="DNSL">Work From Home</option>
        </select>
      </div>
    </div>
    <br>
    <div class="row" ng-if="!toggled.checked">
      <div class="input-field col">
        <p><b>Remark</b></p>
        <textarea style="width:100%; border-color:#ddd; border: solid 2px #c9c9c9;border-radius:2px"
          class="form-control" ng-model="checkin.remark"
          placeholder="Ex : Training di ACC Fatmawati /  Perjalanan Dinas ke Surabaya untuk Launching Aplikasi baru"></textarea>
      </div>
      <br>
    </div>


    <div class="row" ng-if="toggled.checked">
      <div class="input-field col">
        <p><b>Remark</b></p>
        <textarea style="width:100%; border-color:#ddd; border: solid 2px #c9c9c9;border-radius:2px"
          class="form-control" ng-model="checkin.remark"
          placeholder="Ex : Training di ACC Fatmawati /  Perjalanan Dinas ke Surabaya untuk Launching Aplikasi baru"></textarea>
      </div>
      <br>
    </div>

    <button class="button button-positive button-block" ng-if="checkin.type == 'CHECKIN'" ng-click="validationSend()">
      Check In
    </button>


    <button class="button button-positive button-block" ng-if="checkin.type == 'CHECKOUT'" ng-click="validationSend()">
      Check Out
    </button>
    </div>
  </ion-content>
</ion-view>
