<ion-view title="Self Service" class="bg-lightgrey">

    <ion-content class="has-header bg-lightgrey">


        <div class="row height-20 text-center stable-bg">
            <div class="col  padding">
                <div class="card contact" ui-sref="app.shift">
                    <div class="item item-text-wrap light-bg">
                        <img src="img/talents/42/shifticon.png">
                        <br>
                        <span class="text-small">Shift</span>
                    </div>
                </div>
            </div>
            <div class="col padding">
                <div class="card contact" ui-sref="app.attendancegroup">
                    <div class="item item-text-wrap light-bg">
                        <img src="img/talents/42/attendancegroupicon.png">
                        <br>
                        <span class="text-small">Attendance Group</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row height-20 text-center stable-bg">
            <div class="col padding">
                <div class="card contact" ui-sref="app.pattern">
                    <div class="item item-text-wrap light-bg">
                        <img src="img/talents/42/patternicon.png">
                        <br>
                        <span class="text-small">Pattern</span>
                    </div>
                </div>
            </div>
            <div class="col padding">
                <div class="card contact" ui-sref="app.assignattendancegroupsearch">
                    <div class="item item-text-wrap light-bg">
                        <img src="img/talents/42/assignmentattgroupicon.png">
                        <br>
                        <span class="text-small">Assign Attendance</span>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="row height-20 text-center stable-bg">
            <div class="col padding">
                    <div class="card contact" ui-sref="app.worklocation">
                        <div class="item item-text-wrap light-bg">
                            <img src="img/talents/42/42_timemanagement.png">
                            <br>
                            <span class="text-small">Work Location</span>
                        </div>
                    </div>
                </div>

            <div class="col padding"></div>

        </div>

    </ion-content>
</ion-view>