<ion-view title="Choose Payslip Type">
  <ion-content padding="true" class="has-header materialize" scroll="true">
    <div class="item no-padding">
      <ion-list>
        <ion-radio ng-model="choice.select" ng-value="'monthly'">Monthly</ion-radio>
        <ion-radio ng-model="choice.select" ng-value="'yearly'">Yearly</ion-radio>
      </ion-list>

    </div>
    <!-- ng-if="choice.select == 'yearly' || choice.select == 'monthly'" -->
    <div class="row">
      <div class="input-field col">
        <p>Year</p>
        <select ng-model="payslip.year">
          <option ng-repeat="year in selectYear">{{year}}</option>
        </select>
      </div>
    </div>

    <div class="row" ng-if="choice.select == 'monthly'">
      <div class="input-field col">
        <p>Month</p>
        <select ng-model="payslip.month">
          <option ng-repeat="month in selectMonth">{{month.name}}</option>
        </select>
      </div>
    </div>

    <p class="bb text-medium padding uppercase"></p>
    <br>
    </div>

    <div class="row">
      <button ng-disabled="!choice.select"
        class="btn waves-effect waves-light button button-balanced  button-block waves-effect waves-light"
        style="font-weight:bold;background-color:#FF9800" ng-click="submitForm(choice)">Show</button>


    </div>
    <div class="row" ng-if="choice.select == 'monthly'">
      <p class="text-medium">* You are eligible to see the latest 3 Months</p>
    </div>
  </ion-content>
</ion-view>
