<ion-view title="Points Details" cache-view="false">
  <ion-content padding="true" class="has-header materialize" scroll="false" ng-show="profile.isLeader == false">
   
      <div class="row text-center" style="height:55px">
        <div class="col font-thin" style="color:#707070" ng-click="goTo('app.summaryProfile')"><b>Summary Profile</b></div>
        <div class="col font-thin balanced bb" style="color:#707070" ng-click="goTo('app.detailPoin')"><b>Active</b></div>
        <div class="col font-thin" style="color:#707070" ng-click="goTo('app.pendingPoin')"><b>Pending</b></div>
        <div class="col font-thin" style="color:#707070" ng-click="goTo('app.historyPoin')"><b>History</b></div>
      </div>
      
      <div class="list">   
        <div class="row" style="margin:auto; font-family: 'Roboto';">
          <div class="point-pending" style="background-color:#009688;">
              <center><b>{{totalPoints}}</b></center>
          </div>
        </div>

        <div class="row height-45 text-center" style="height:45px">
          <div class="col font-thin">
            <h4 style="color:#707070; font-size:15px">
              <b>Active Points</b>
            </h4>
          </div>
        </div>

      
        <div class="row" style="margin-bottom:20px;">
          <div class="step" style="background-color:#009688;">
              <center>Upload soal sebanyak mungkin</center>
          </div>
          <ion-icon class="icon ion-ios-arrow-right" style="margin-top:40px;"></ion-icon>
          <div class="step" style="background-color:#009688;">
            <center>Tunggu notifikasi approval dari komite soal</center>
          </div>
          <ion-icon class="icon ion-ios-arrow-right" style="margin-top:40px;"></ion-icon>
          <div class="step" style="background-color:#009688;">
            <center>Dapatkan extra points untuk setiap soal yang diapprove</center>
          </div>
        </div>
        
        <div class="row" style="margin-bottom:5px; margin-top:10px">
          <a style="font-size:20px; color:#000000;"><b>Earn more points!</b></a>
        </div>
        <div class="row" style="margin-bottom:10px;">
          <a style="font-size:15px; color:#000000;">Just upload new question for daily test!</a>
        </div>

        <br/><br/>
        <div class="row height-45 text-center" style="height:45px">
          <div class="col font-thin">
            <h4 style="color:#707070; font-size:15px">
              <b>Coming Soon.</b>
            </h4>
          </div>
        </div>
          
        <!-- MOBILE TECAT PHASE 2 

          <div class="row">
            <div class="input-field col">
              <h2 class="input-label" style="width:80%">
                <b>Function Name & Job</b>
              </h2>
              <select ng-model="selectedItem1" ng-options="jn.JOB group by jn.FUNCTION for jn in jobName track by jn.JOB_ID" style="border:1px solid #aeb0b2; border-radius:5px; margin-top:-15px;">
              </select> 
            </div>
          </div> 

          <div class="row">
            <div class="input-field col">
              <h2 class="input-label" style="width:80%">
                <b>Function</b>
              </h2>
              <select ng-model="selectedItem1" style="margin:auto;" ng-required="true">
                  <option value="" selected disabled>Pick one</option>
                  <option ng-repeat="r in functionName" ng-value="r.JOBID">{{r.FUNCTION}}</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="input-field col">
              <h2 class="input-label" style="width:80%">
                <b>Question</b>
              </h2>
              <ion-item style="width: 100%; border:1px solid #aeb0b2; border-radius:5px; margin-top:-15px" >
                <textarea></textarea>
              </ion-item>
            </div>
          </div>

          <div class="row">
            <div class="input-field col">
              <h2 class="input-label" style="width:80%">
                <b>Correct Answer</b>
              </h2>
              <input type="text" name="correct_answer" style="margin-top:-15px">
            </div>
          </div>

          <div class="row">
            <div class="input-field col">
              <h2 class="input-label" style="width:80%">
                <b>Uncorrect Answer</b>
              </h2>
              <input type="text" name="uncorrect_answer1" style="margin-top:-15px">
              <input type="text" name="uncorrect_answer2" style="margin-top:-15px">
              <input type="text" name="uncorrect_answer3" style="margin-top:-15px">
            </div>
          </div>

          </div>
          <div class="row" style="margin-top:10px;">
            <button class="button button-positive" style="width: 100%; background-color:#0072BE">
              Submit
            </button>
          </div>
        -->
        
  </ion-content>
</ion-view>

<style>

.point-pending{
  border-color: #ddd;
  background-color: #fff;
  color: #444;
  z-index: 2;
  display: block;
  padding: 16px;
  margin: auto;
  margin-bottom: -8px;
  border-radius: 5px;
  font-size: 15px;
  color: #FFFFFF;
  height: 42px;
  width: 306px;
  line-height: 10px;
}

.step{
  border-color: #ddd;
  background-color: darkgreen;
  z-index: 2;
  display: block;
  padding: 16px;
  margin: auto;
  margin-bottom: -7px;
  border-radius: 200px;
  font-size: 9px;
  color: #FFFFFF;
  height: 110px;
  width: 110px;
}

</style>
