<ion-view title="History Points" cache-view="false">
  <ion-content padding="true" class="has-header materialize" scroll="false" ng-show="profile.isLeader == false">
    
    <ion-scroll direction="y" style="height:100%">
      
      <div class="row text-center" style="height:55px">
        <div class="col font-thin" style="color:#707070" ng-click="goTo('app.summaryProfile')"><b>Summary Profile</b></div>
        <div class="col font-thin" style="color:#707070" ng-click="goTo('app.detailPoin')"><b>Active</b></div>
        <div class="col font-thin" style="color:#707070" ng-click="goTo('app.pendingPoin')"><b>Pending</b></div>
        <div class="col font-thin balanced bb" style="color:#707070" ng-click="goTo('app.historyPoin')"><b>History</b></div>
      </div>
      
        <div class="list">   
          <div class="row" style="margin:auto;">
            <a style="font-size:20px; color:#000000;"><b>Earned Points</b></a>
          </div>

          <ul class="list" style="margin-top:20px;" ng-if="dataHistory.length > 0">
            <li class="item" style="font-size:15px; color:#000000" ng-repeat="r in dataHistory | orderBy: '-time_finish' | limitTo: infiniteLimit ">
              <span class="item-note" style="font-size:15px; font-weight: bold; color:#000000">
                {{r.sum_score}} Points
              </span>
              <div ng-if="r.total_benar > 0">
                {{r.competency_name}}
              <br> 
              <a style="font-size:12px; color:#707070">{{r.penjelasan}}</a>
              </div>

              <div ng-if="r.total_benar == 0">
               {{r.competency_name}}
              <br>
              <a style="font-size:12px; color:#707070">{{r.penjelasan}}</a>
              <br>
              </div>

              <a style="font-size:12px; color:#707070;">{{r.time_finish | date:'dd MMM yyyy - h:mm a'}}</a> 
            </li>

            <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" icon="ion-loading-c" on-infinite="loadMore()">
            </ion-infinite-scroll>
            
            <div class="item padding" ng-if="!moreDataCanBeLoaded()">
              
            </div>

          </ul>
        </br/>
          <div class="item padding" ng-if="dataHistory.length == 0">
            <center><a style="font-size:15px; color:#000000;">Not available.</b></a></center>
        </div>

    </ion-scroll>
  </ion-content>
</ion-view>

<style>

body, p, div, span, h1, h2, h3, h4, h5, input, button, select, textarea{
  font-family: 'Roboto';
}
.point-history{
  border-color: #ddd;
  background-color: #fff;
  color: #444;
  z-index: 2;
  display: block;
  padding: 16px;
  margin: auto;
  margin-bottom: -8px;
  border-radius: 5px;
  font-size: 15px;
  color: #FFFFFF;
  height: 42px;
  width: 76px;
  line-height: 10px;
}

</style>