<ion-view title="Print Letter" cache-view="false">
  <ion-content padding="true" class="has-header materialize" scroll="false">
    <ion-scroll class="bg-lightgrey" direction="y" style="height:100%">
      <div style="height:100%">
        <div ng-repeat="letter in listLetter">
          <div class="row height-45 text-center stable-bg" ng-if="$even">
            <div class="col" ng-repeat="itemGenap in listLetter[$index]">
              <div class="card contact" style="margin-right:10px;margin-bottom:10px;min-height:50px">
                <div class="item item-text-wrap light-bg" ui-sref="app.{{itemGenap.key}}">
                  <img ng-src="img/talents/icon/{{itemGenap.key}}.png">
                  <br />
                  <span class="text-small">{{itemGenap.value}}</span>
                </div>
              </div>
            </div>
            <div class="col" ng-repeat="itemGanjil in listLetter[$index + 1]">
              <div class="card contact" style="margin-right:10px;margin-bottom:10px;min-height:50px">
                <div class="item item-text-wrap light-bg" ui-sref="app.{{itemGanjil.key}}">
                  <img ng-src="img/talents/icon/{{itemGanjil.key}}.png">
                  <br />
                  <span class="text-small">{{itemGanjil.value}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row height-45 text-center stable-bg" ng-if="listLetter.length != 0 && SudahSubmit == null">
          <div class="col">
            <div class="card contact" style="margin-right:10px;margin-bottom:10px;min-height:50px">
              <div class="item item-text-wrap light-bg" ui-sref="app.SRT_PER_PERUSAHAAN">
                <img ng-src="img/talents/icon/SRT_PENGANGKATAN.png">
                <br />
                <span class="text-small">Surat Pernyataan Peraturan Perusahaan</span>
              </div>
            </div>
          </div>
          <div class="col">
          </div>
        </div>
        <div class="item" ng-if="listLetter.length == 0">
          <div class="col col-100">
            <h2>Print letter is not found</h2>
            <p>Please Pull to refresh</p>
          </div>
        </div>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
