<ion-view title="My Request" class="bg-lightgrey">
  <ion-content class="has-header bg-lightgrey">
    <div class="row height-20 text-center stable-bg">
      <div class="col padding">
        <div class="card contact" ui-sref="app.myrequest({submodule:'Personalia'})">
          <div class="item item-text-wrap light-bg">
            <img src="img/talents/42/42_payslip.png"><br>
            <span class="text-small">Personalia</span>
          </div>
        </div>
      </div>
      <div class="col padding">
        <div class="card contact" ui-sref="app.myrequest({submodule:'Benefit'})">
          <div class="item item-text-wrap light-bg">
            <img src="img/talents/42/42_benefit.png"><br>
            <span class="text-small">Benefit</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row height-20 text-center stable-bg">
      <div class="col padding">
        <div class="card contact" ui-sref="app.myrequest({submodule:'Attendance'})">
          <div class="item item-text-wrap light-bg">
            <img src="img/talents/42/42_timemanagement.png"><br>
            <span class="text-small">Attendance</span>
          </div>
        </div>
      </div>
      <div class="col padding">
        <div class="card contact" ui-sref="app.myrequest({submodule:'Letter'})">
          <div class="item item-text-wrap light-bg">
            <img src="img/talents/42/42_timemanagement.png"><br>
            <span class="text-small">Letter</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row height-20 text-center stable-bg">
      <!-- <div class="col padding">
        <div class="card contact" ui-sref="app.myrequestsub({submodule:'SPD Advance'})">
          <div class="item item-text-wrap light-bg">
            <img src="img/talents/spd/spd_advance_42.png"><br>
            <span class="text-small">SPD Advance</span>
          </div>
        </div>
      </div> -->
      <div class="col padding">
        <div class="card contact" ui-sref="app.myrequestsub({submodule:'SPD'})"
          ng-if="profile.talentsAuthorities['SPD']">
          <div class="item item-text-wrap light-bg">
            <img src="img/talents/spd/spd_realization_42.png"><br>
            <span class="text-small">SPD</span>
          </div>
        </div>
      </div>
      <div class="col padding"></div>
    </div>
  </ion-content>
</ion-view>
