<ion-view class="bg-lightgrey">
  <ion-nav-title>{{submodule}}</ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-clear icon ion-ios-settings-strong" ng-click="openModalMyRequest()"></button>
  </ion-nav-buttons>
  <script id="modalMyRequest.html" type="text/ng-template">
    <ion-modal-view>
          <div class="bar bar-header item-input-inset">
            <button class="button button-clear ion-ios7-arrow-thin-down" style="margin-left:-12.5px;" ng-click="closeModalMyRequest();">
                <i class="icon ion-android-close placeholder-icon placeholder-icon"></i>
            </button>
          </div>
      
          <ion-content class="has-header bt-grey assertive">
            <div class="item padding">
              <div class="item item-divider">Filter By</div>
              <div class="row">
                <div class="input-field col">
                  <p for="first_name">Request No.</p>
                  <input type="text" placeholder="type Request No. here ..." ng-model="filterRequest.requestNo"
                    style="width:100%">
                </div>
              </div>
              <div class="row">
                <div class="input-field col">
                  <p>Status</p>
                  <select ng-model="filterRequest.status" style="height: 40px;" >    
                    <option value="">-- Select --</option>  
                    <option value="In Progress">In Progress</option>  
                    <option value="Approved">Approved</option>
                    <option value="Rejected">Rejected</option>
                    <option value="Canceled">Canceled</option>
                  </select>
                </div>
              </div>
              <div class="row" ng-if="submodule=='Assignment Change'">
                <div class="input-field col">
                  <p>Action</p>
                  <select ng-model="filterRequest.action" style="height: 40px;" >    
                    <option value="">-- Select --</option>  
                    <option value="promotion">Promotion</option>  
                    <option value="demotion">Demotion</option>
                    <option value="mutation">Mutation</option>
                    <option value="terminate">Termination</option>
                    <option value="permanent">Permanent</option>
                    <option value="extend">Extend Contract</option>
                    <option value="additional">Additional Position</option>
                    <option value="release">Release Additional Position</option>
                    <option value="changeSupervisor">Change Direct Supervisor</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="input-field col">
                  <p>Start Date</p>
                  <ionic-datepicker class="button button-block button-outline button-positive" ng-click="openStartDatePicker()">
                    {{filterRequest.startDate | date: globalConstant.dateFormat}}
                  </ionic-datepicker>
                  <font color="red" style="font-size: 10px">
                    <span ng-show="filterRequest.endDate != null && (filterRequest.startDate == null || filterRequest.startDate == undefined) ">
                      Date filter must be fill completely (in pair)
                    </span>
                  </font>
                </div>
              </div>
              <div class="row">
                <div class="input-field col">
                  <p>End Date</p>
                  <ionic-datepicker class="button button-block button-outline button-positive" ng-click="openEndDatePicker()">
                    {{filterRequest.endDate | date: globalConstant.dateFormat}}
                  </ionic-datepicker>
                  <font color="red" style="font-size: 10px">
                    <span ng-show="filterRequest.endDate != null && (filterRequest.startDate == null || filterRequest.startDate == undefined) ">
                      Date filter must be fill completely (in pair)
                    </span>
                  </font>
                </div>
              </div>
              <div class="row">
                <button class="btn waves-effect button-medium waves-light button button-balanced button-block" ng-click="doFilterRequest()">OK</button>
              </div>
            </div>
    
          </ion-content>
      </ion-modal-view>
      </script>
  <ion-content class="has-header bt-grey profile" scroll="true">
    <ion-refresher pulling-text="Pull to refresh" refreshing-text="Loading..." refreshing-icon="ion-loading-c"
      pulling-icon="ion-ios7-arrow-thin-down" on-refresh="refresh()">
    </ion-refresher>
    <div ng-repeat="item in listRequests.content | filter: searchFilter ">
      <div class="item item-text-wrap" ng-click="gotoDetailRequest(item)">
        <span class="item-note calm text-smaller">
          {{item.request.requestDate | date: globalConstant.dateFormatHhMm}}
        </span>
        <h2 class="lead">{{item.request.requestNo}}</h2>
        <h2 style="text-transform: capitalize;">{{item.request.requestType}} - {{item.request.type}}</h2>
        <p class="text-medium">{{item.request.asalSpd}} - {{item.request.tujuanSpd}}</p>
        <p class="text-medium" ng-if="item.categoryName == 'SPD Realization' && item.request.spdAdvance != null">Total
          Biaya Advance :
          {{item.request.totalAmountAdvance}}</p>
        <p class="text-medium" ng-if="item.categoryName == 'SPD Realization' && item.request.spdAdvance == null">Total
          Biaya Advance :
          0</p>
        <p class="text-medium" ng-if="item.categoryName == 'SPD Advance'">Total Biaya Advance :
          {{item.request.totalAmount}}</p>
        <p class="text-medium" ng-if="item.categoryName == 'SPD Realization'">Total Biaya Realization :
          {{item.request.totalAmount}}</p>
        <p class="text-medium" ng-if="item.categoryName == 'SPD Realization' && item.request.spdAdvance != null">Selisih
          : {{item.request.selisih}}</p>
        <p class="text-medium" ng-if="item.categoryName == 'SPD Realization' && item.request.spdAdvance == null">
          Selisih : 0</p>
        <div class="row row-center no-padding no-margin">
          <div class="col">
          </div>
          <div class="col" style="text-align: right">
            <span class="item-note positive ">
              <p class="text-small">
                <h2 class="text-medium" ng-if="item.status == 'Approved'" style="color: #008000;">
                  {{item.status}}</h2>
                <h2 class="text-medium" ng-if="item.status == 'Rejected'" style="color: #800000;">
                  {{item.status}}</h2>
                <h2 class="text-medium" ng-if="item.status == 'In Progress'" style="color: #000080;">
                  {{item.status}}</h2>
                <h2 class="text-medium" ng-if="item.status == 'Canceled'" style="color: #b3b300;">
                  {{item.status}}</h2>
              </p>
              <div>{{item.approverName}}</div>
              Approval {{item.progressOverall}}
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row" ng-if="isLoadMoreBenefitShow" style="padding-top:0px;min-height:120px">
      <button style="height:30px" class="button button-block button-outline button-positive"
        ng-click="loadMoreBenefit()">Load
        More Results</button>
    </div>

    <div class="item" ng-if="listRequests.content.length == 0">
      <div class="col col-100">
        <h2>No request available</h2>
        <p>You may don't have any request</p>
      </div>
    </div>
  </ion-content>
</ion-view>
