<ion-view title="Request Detail" class="bg-lightgrey" cache-view="false">
  <ion-content class="has-header bt-grey profile" scroll="true">
    <div class="card hybrid">
      <div class="item item-avatar item-text-wrap">
        <img ng-src="{{detail.photoProfile}}">
        <h2 class="lead text-medium">{{detail.employeeRequest.name}}</h2>
        <h3 class="text-smaller">{{detail.employeeRequest.assignment.positionName}}</h3>
      </div>
    </div>
    <div class="list">
      <div class="item item-text-wrap">
        <p class="text-small">Request Type</p>
        <h2 class="lead text-small">{{detail.description}}</h2>
      </div>
      <div class="item item-text-wrap" ng-if="detail.requestForFamilyName != null">
        <p class="text-small">Request For</p>
        <h2 class="lead text-small">{{detail.requestForFamilyName}}</h2>
      </div>
      <div class="item item-text-wrap" ng-if="detail.requestForFamilyRelationhip != null">
        <p class="text-small">Relationship</p>
        <h2 class="lead text-small">{{detail.requestForFamilyRelationhip}}</h2>
      </div>
      <div ng-if="detail.task == 'CHANGENPWP'">
        <div class="item item-text-wrap">
          <p class="text-small">No Npwp</p>
          <h2 class="lead text-small">{{detail.employeeRequest.changeNPWP}}</h2>
        </div>
      </div>
      <div ng-if="detail.task == 'CHANGENIRCNO'">
        <div class="item item-text-wrap">
          <p class="text-small">NIK</p>
          <h2 class="lead text-small">{{detail.employeeRequest.changeNPWP}}</h2>
        </div>
      </div>
      <div ng-if="detail.task == 'CHANGEKTPNAME'">
        <div class="item item-text-wrap">
          <p class="text-small">Faskes</p>
          <h2 class="lead text-small">{{detail.employeeRequest.changeKTPNAME}}</h2>
        </div>
      </div>
      <div ng-if="detail.task == 'CHANGEFAMILYCARDNO'">
        <div class="item item-text-wrap">
          <p class="text-small">Family Card No</p>
          <h2 class="lead text-small">{{detail.employeeRequest.changeFamilyCardNo}}</h2>
        </div>
      </div>
      <div ng-if="detail.task == 'CHANGEMARITALSTATUS'">
        <div class="item item-text-wrap">
          <p class="text-small">Description</p>
          <h2 class="lead text-medium">{{detail.taskDescription}} </h2>
        </div>
      </div>
      <div ng-if="detail.task == 'CHANGEBANKACCOUNT'">
        <!-- {{dataBankAccount}} -->
        <div ng-repeat="bank in dataBankAccount">
          <!-- {{bank.paymentMethod}} -->
          <div class="item item-text-wrap">
            <p class="text-small">Bank Name</p>
            <h2 class="lead text-medium">{{bank.bankName}}</h2>
          </div>
          <div class="item item-text-wrap">
            <p class="text-small">Cabang Bank</p>
            <h2 class="lead text-medium">{{bank.bankBranch}}</h2>
          </div>
          <div class="item item-text-wrap">
            <p class="text-small">Nama Account</p>
            <h2 class="lead text-medium">{{bank.accountName}}</h2>
          </div>
          <div class="item item-text-wrap">
            <p class="text-small">Nomor Account</p>
            <h2 class="lead text-medium">{{bank.bankAccount}}</h2>
          </div>
        </div>
      </div>
      <div
        ng-if="detail.module != 'personalia' && detail.task != 'OVT_REQUEST' && detail.task != 'OVT' && detail.task != 'ABS_TRANS'">
        <div class="item item-text-wrap">
          <p class="text-small">Request No</p>
          <h2 class="lead text-small">{{detail.ref.reqNo}}</h2>
        </div>
      </div>
      <div ng-if="detail.bankAccount != null && detail.accountName != null && detail.bank_name_c_trans">
        <div>
          <div class="item item-text-wrap">
            <p class="text-small">Account Name</p>
            <h2 class="lead text-small">{{detail.accountName}}</h2>
          </div>
        </div>
        <div>
          <div class="item item-text-wrap">
            <p class="text-small">Bank Account</p>
            <h2 class="lead text-small">{{detail.bankAccount}}</h2>
          </div>
        </div>
        <div>
          <div class="item item-text-wrap">
            <p class="text-small">Bank Name</p>
            <h2 class="lead text-small">{{detail.bank_name_c_trans}}</h2>
          </div>
        </div>
      </div>
      <div
        ng-if="detail.module == 'attendance' && detail.task != 'OVT_REQUEST' && detail.task != 'OVT' && detail.task != 'ABS_TRANS'">
        <div class="list no-padding">
          <div class="item item-icon-left text-small" href="#">
            <i class="icon ion-ios-list-outline text-larger"></i>
            <h2><b>{{detail.ref.categoryType}}</b></h2>
            <p class="text-medium">{{detail.ref.details[0].typeDesc}}</p>
          </div>
          <div class="item item-icon-left text-small" href="#" ng-if="detail.ref.categoryType!='Overtime'">
            <i class="icon ion-android-calendar text-larger"></i> {{detail.ref.startDate | date: 'dd MMM yyyy'}} -
            {{detail.ref.endDate | date: 'dd MMM yyyy'}}
          </div>
          <div class="item item-icon-left text-small" href="#" ng-if="detail.ref.categoryType=='Attendance Edit'">
            <i class="icon ion-android-time text-medium"></i>
            <p class="text-medium">{{detail.ref.details[0].attendanceInTime | date: 'HH:mm'}} <b>To</b>
              {{detail.ref.details[0].attendanceOutTime | date: 'HH:mm'}}</p>
          </div>
          <div class="item item-icon-left text-small" href="#" ng-if="detail.ref.categoryType=='Overtime'">
            <i class="icon ion-android-calendar text-larger"></i>
            <p class="text-medium"><b>{{detail.ref.details[0].startDateInTime |  date: 'dd MMM HH:mm'}}</b>&nbsp;&nbsp;
              - &nbsp;&nbsp;<b>{{detail.ref.details[0].endDateInTime |  date: 'dd MMM HH:mm'}}</b></p>
          </div>
          <!-- 
                      <div class="item item-icon-left text-small" href="#" ng-if="detail.ref.categoryType=='Overtime'">
                        
                        <p class="text-large"><b>In : </b> {{detail.ref.details[0].overtimeIn/ 60 | round:'':'down'}} hours {{detail.ref.details[0].overtimeIn % 60}} min <b>Out : </b>{{detail.ref.details[0].overtimeOut / 60 | round:'':'down'}} hours {{detail.ref.details[0].overtimeOut % 60}} min</p>
                      </div>-->
          <div class="item item-icon-left text-small item-text-wrap" href="#">
            <i class="icon ion-android-chat text-larger"></i>
            <p class="text-medium">{{detail.ref.details[0].remark}}</p>
          </div>
          <div class="item item-icon-left text-small" href="#" ng-if="detail.ref.categoryType!='Overtime'">
            <i class="icon ion-ios-compose-outline text-medium"></i>
            <p class="text-medium"><b>Total : </b> {{detail.ref.details[0].totalDay}} days</p>
          </div>
          <div class="item item-icon-left text-small" href="#" ng-if="detail.ref.categoryType=='Overtime'">
            <i class="icon ion-ios-compose-outline text-medium"></i>
            <p class="text-medium">Total : <b> {{detail.ref.details[0].overtimeIn/ 60 | round:'':'down'}} hours
                {{detail.ref.details[0].overtimeIn % 60}} min</b></p>
          </div>
          <div class="item item-text-wrap">
            <h2 class="talents">Attachment</h2>
            <div class="row post">
              <div class="col" ng-repeat="items in detail.attachments" style="width:90px;max-height:90px"><img
                  width="90px" height="90px" ng-src="{{items.image}}" ng-click="openImagePreview(items.image)" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="detail.task == 'OVT_REQUEST' || detail.task == 'OVT'">
        <div class="list no-padding">
          <div class="item item-text-wrap">
            <p class="text-small">Request No</p>
            <h2 class="lead text-small">{{parsingData.requestNo}}</h2>
          </div>
          <div class="item item-icon-left text-small" href="#">
            <i class="icon ion-android-calendar text-larger"></i><b>Start Date</b>
            <p class="text-medium">{{parsingData.startDateRequest | date: 'dd MMM yyyy'}}</p>
          </div>
          <div class="item item-icon-left text-small" href="#">
            <i class="icon ion-android-calendar text-larger"></i><b>End Date</b>
            <p class="text-medium">{{parsingData.endDateRequest | date: 'dd MMM yyyy'}}</p>
          </div>

          <div class="item item-icon-left text-small" href="#">
            <i class="icon ion-android-time text-medium"></i><b>Requested In</b>
            <p class="text-medium">
              {{parsingData.startTimeRequest | timeWithoutSecond }}</p>
          </div>
          <div class="item item-icon-left text-small" href="#">
            <i class="icon ion-android-time text-medium"></i><b>Requested Out</b>
            <p class="text-medium">
              {{parsingData.endTimeRequest | timeWithoutSecond}}</p>
          </div>

          <div ng-if="detail.task == 'OVT'">
            <div class="list no-padding">
              <div class="item item-icon-left text-small" href="#">
                <i class="icon ion-android-time text-medium"></i><b>Actual In Time</b>
                <p class="text-medium"><span>
                    {{parsingData.actualInTime | timeWithoutSecond}}</span></p>
              </div>
              <div class="item item-icon-left text-small">
                <i class="icon ion-android-time text-medium"></i><b>Actual Out Time</b>
                <p class="text-medium"><span>
                    {{parsingData.actualOutTime | timeWithoutSecond}}</span></p>
              </div>
            </div>
          </div>

          <div class="item item-icon-left text-small item-text-wrap" href="#">
            <i class="icon ion-android-chat text-larger"></i><b>Description</b>
            <p class="text-medium">
              {{parsingData.remark}}</p>
          </div>
          <div class="item item-icon-left text-small item-text-wrap" href="#">
            <i class="icon ion-android-chat text-larger"></i><b>Target</b>
            <p class="text-medium">
              {{parsingData.target}}</p>
          </div>

          <div class="item item-icon-left text-small item-text-wrap" href="#">
            <i class="icon ion-ios-compose-outline text-medium"></i><b>Total Hours</b>
            <p class="text-medium">
              {{parsingData.totalHours}}</p>
          </div>

        </div>
      </div>
      <div ng-if="detail.task == 'ABS_TRANS'">
        <div class="list no-padding">
          <div class="item item-text-wrap">
            <p class="text-small">Request No</p>
            <h2 class="lead text-small">{{parsingData.requestNo}}</h2>
          </div>
          <div class="item item-icon-left text-small" href="#">
            <i class="icon ion-android-calendar text-larger"></i><b>Start Date</b>
            <p class="text-medium">{{detail.ref.startDate | date: 'dd MMM yyyy'}}</p>
          </div>
          <div class="item item-icon-left text-small item-text-wrap" href="#">
            <i class="icon ion-android-chat text-larger"></i>
            <p class="text-medium"><b>Reason</b>
              <br /> {{parsingData.reason}}</p>
          </div>

          <div class="item item-icon-left text-small item-text-wrap" href="#">
            <i class="icon ion-android-chat text-larger"></i>
            <p class="text-medium"><b>Remark</b>
              <br /> {{parsingData.remark}}</p>
          </div>

          <div class="item item-text-wrap">
            <h2 class="talents">Attachment</h2>
            <div class="row post">
              <div class="col" ng-repeat="items in detail.attachments" style="width:90px;height:90px">
                <img width="90px" height="90px" ng-src="{{items.image}}" ng-click="openImagePreview(items.image)" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="detail.task == 'SUBMITFAMILY' || detail.task == 'CHANGEFAMILY'">
        <div class="item item-text-wrap">
          <p class="text-small">Name</p>
          <h2 class="lead text-medium">{{detail.ref.name}}</h2>
        </div>
        <div class="item item-text-wrap">
          <p class="text-small">Relation Type</p>
          <h2 class="lead text-medium">{{detail.ref.relationship}}</h2>
        </div>
        <div class="row">
          <button class="button button-medium  button-block button-outline button-positive"
            ng-click="viewMoreFamily()">View More</button>
        </div>
        <!-- <div class="item item-text-wrap">
          <h2 class="talents">Attachment</h2>
          <div class="row post">
            <div class="col" ng-repeat="items in detail.attachments" style="width:90px;height:90px">
              <img width="90px" height="90px" ng-src="{{items.image}}" ng-click="openImagePreview(items.image)" />
            </div>
          </div>
        </div> -->
      </div>
      <div ng-if="detail.task == 'SUBMITADDRESS' || detail.task == 'CHANGEADDRESS'">
        <div class="item item-text-wrap">
          <p class="text-small">Address</p>
          <h2 class="lead text-medium">{{detail.ref.address}} RT.{{detail.ref.rt}} RW.{{detail.ref.rw}} </h2>
        </div>
        <div class="item item-text-wrap">
          <p class="text-small">City</p>
          <h2 class="lead text-medium">{{detail.ref.city}}</h2>
        </div>
        <div class="item item-text-wrap">
          <p class="text-small">Province</p>
          <h2 class="lead text-medium">{{detail.ref.province}}</h2>
        </div>
        <div class="row">
          <button class="button button-medium button-block button-outline button-positive"
            ng-click="viewMoreAddress()">View More</button>
        </div>
      </div>
      <div class="item item-text-wrap" ng-if="detail.module == 'personalia'">
        <p class="text-small">Attachment</p>
        <div class="row post">
          <div class="col" ng-repeat="items in detail.attachments" style="width:90px;height:90px">
            <!-- <span>{{items.image}}</span> -->
            <img width="90px" height="90px" ng-src="{{items.image}}" ng-click="openImagePreview(items.image)" />
          </div>
        </div>
      </div>
      <!-- <div ng-if="detail.task == 'CHANGENPWP'">
                <div class="item item-text-wrap" >
                     <p class="text-small">Name</p>
                    <h2 class="lead text-medium" >{{detail.ref.name}}</h2>

                </div>
                <div class="item item-text-wrap" >
                    <p class="text-small">Npwp No</p>
                    <h2 class="lead text-medium" >{{detail.ref}}</h2>
                    
                </div>
                <div class="row">
                  <button class="button button-medium  button-block button-outline button-positive" ng-click="viewMoreFamily()">View More</button>
                </div>
                 <div class="item item-text-wrap" >
                    <h2 class="talents">Attachment</h2>
                    <div class="row post" >
                        <div class="col" ng-repeat="items in detail.attachments" style="width:90px;height:90px" ><img width="90px" height="90px"  ng-src="{{items.image}}" ng-click="openImagePreview(items.image)" /></div>
                    </div>
                   
                </div>
                
        </div> -->
      <div ng-if="detail.module == 'benefit'">
        <div class="item item-text-wrap">
          <p class="text-small">Category</p>
          <h2 class="lead text-medium" ng-if="detail.ref.categoryType == 'Medical' && detail.ref.requestForFamily > 0">
            Medical Family</h2>
          <h2 class="lead text-medium" ng-if="detail.ref.requestForFamily == null">{{detail.ref.categoryType}}</h2>
        </div>
        <div class="item item-text-wrap">
          <p class="text-small">Transaction Date</p>
          <h2 class="lead text-medium">{{detail.ref.startDate | date :'dd MMM yyyy'}}</h2>
        </div>
        <div class="list no-padding"
          ng-if="detail.ref.categoryType == 'Perjalanan Dinas' || detail.ref.categoryType == 'SPD Advance'">
          <div class="item item-icon-left text-small" href="#">
            <i class="icon ion-location text-larger"></i> {{detail.ref.origin}} - {{detail.ref.destination}}
          </div>
          <div class="item item-icon-left text-small" href="#">
            <i class="icon ion-calendar text-larger"></i> {{detail.ref.startDate | date: 'dd MMM yyyy'}} -
            {{detail.ref.endDate | date: 'dd MMM yyyy'}}
          </div>
          <div class="item item-icon-left text-small" href="#">
            <i class="icon ion-ios-list-outline text-larger"></i> {{detail.ref.spdType}}
          </div>
          <div class="item item-icon-left text-small" href="#">
            <i class="icon ion-ios-compose-outline text-larger"></i> {{detail.ref.remark}}
          </div>
        </div>
        <div ng-if="detail.ref.categoryType != 'Medical Overlimit'" class="edit padding-horizontal"
          ng-repeat="obj in detail.ref.details">
          <label class="item item-input" style="margin-bottom:0px">
            <span class="input-label text-small">{{obj.type}}</span>
            <input disabled type="text" value="Rp. {{obj.amount | number:0}}">
          </label>
        </div>
        <p ng-if="detail.ref.categoryType != 'Medical Overlimit'" class="text-medium padding uppercase">Allowed
          Claim<span class="pull-right text-medium"> Rp.
            {{detail.ref.totalAmount | number:0}}</span></p>
        <p ng-if="detail.ref.categoryType != 'Medical Overlimit' && detail.ref.refRequestHeaderObj != null"
          class="text-medium padding uppercase">{{detail.ref.refRequestHeaderObj.categoryType}}<span
            class="pull-right text-medium"> Rp.
            {{detail.ref.refRequestHeaderObj.totalAmount | number:0}}</span></p>
        <div class="item item-text-wrap" ng-if="detail.ref.categoryType != 'Medical Overlimit'">
          <h2 class="talents">Attachment</h2>
          <div class="row post">
            <div class="col" ng-repeat="items in detail.attachments" style="width:90px;max-height:90px">
              <img width="90px" height="90px" ng-src="{{items.image}}" ng-click="openImagePreview(items.image)" />
            </div>
          </div>
        </div>
        <div class="item item-text-wrap"
          ng-if="detail.ref.categoryType == 'Medical Overlimit' && detail.currentApprovalLevel > 0 && needApproval=='true'">
          <h2 class="talents">Amount</h2>
          <input disabled ng-model="data.amount" ng-keyup="change($event,$index)" type="tel">
        </div>
      </div>
      <div class="row" style="padding-top:50px" ng-if="detail.status !='completed'">
        <button
          class="btn button-small  waves-effect waves-light button button-calm  button-block waves-effect waves-light"
          ng-click="confirmReject()">Reject</button>&nbsp;
        <button
          class="btn button-small waves-effect waves-light button button-balanced  button-block waves-effect waves-light"
          ng-click="confirmAccept()">Approve</button>
      </div>
    </div>
  </ion-content>
</ion-view>
