<ion-view title="Confirmation" cache-view="false">
<style>
    .left {
        text-align: left;
        float: left;
        width: 60%;
    }
    .right {
        text-align: right;
        float: right;
        width: 40%;
    }
</style>
    <ion-content  class="profile has-header" scroll="true">
    <ion-list class="padding">
        <div class="row padding">
            <h2 class="text-medium uppercase strong"><b>{{categoryType}}</b></h2>
            
        </div>
        <hr class="no-margin">
        <div class="row padding">
            <div class="left"><p class="text-medium">Claim Amount</p></div>
            <div class="right"><h2 class="lead text-medium" >Rp. {{totalClaim | number : 0}}</h2></div>
        </div>
        <hr class="no-margin" ng-if="totalSubmitedClaim > 0">
        <div class="row padding" ng-if="totalSubmitedClaim > 0">
            <div class="left"><p class="text-medium">Total Previous Claim</p></div>
            <div class="right"><h2 class="lead text-medium" >Rp. {{totalSubmitedClaim | number : 0}}</h2></div>
        </div>
        <hr class="no-margin">
        <div class="row padding">
            <div class="left"><p class="text-medium"><b>Allowed Claim</b></p></div>
            <div class="right"><h2 class="lead text-medium" ><b>Rp. {{totalCurrentClaim | number : 0}}</b></h2></div>
        </div>
        <hr class="no-margin">
        <div class="row padding" ng-if="lastClaimDate != ''">
            <div class="left"><p class="text-small">Last Claim Date</p></div>
            <div class="right"><h2 class="lead text-small" >{{lastClaimDate}}</h2></div>
        </div>

</ion-list>
<div class="list" >
                <div class="item item-divider">Attach Supporting Document</div> 

                <div class="row" ng-show="appMode=='mobile'" >
                      <button class="button button-block button-outline button-positive" ng-click="addPicture()"><i class="icon ion-ios-camera-outline"></i> Add Attachment</button>
                </div>
                <div class="row" ng-show="appMode=='web'">
                    <input id="inputImage" type="file" accept="image/*" ng-model="requestHeader.attachments" image="requestHeader.attachments" resize-max-height="1280" resize-max-width="720" resize-quality="0.8" resize-type="image/jpg" multiple="multiple" ng-image-compress/> 
                </div>
              
                <div class="row post" ng-show="appMode=='mobile'"  >
                    <div class="col" ng-repeat="items in images" style="height:90px; width:90px" ><img height="90px"  ng-src="{{items.image}}" /> <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button></div>
                </div>
                <div class="row post" ng-show="appMode=='web'">
                        <div class="col" ng-repeat="item in requestHeader.attachments" style="height:90px; width:90px"  >
                            <img  ng-src="{{item.compressed.dataURL}}" /> <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button>
                        </div>
                </div>
                
                <div class="row center" ng-show="appMode=='mobile'">
                     <div class="col" style="max-height:90px; max-width:90px" ng-if="images.length==0"><img ng-src="{{defaultImage}}" height="90px" ></div>
                </div>

                <div class="row center" ng-show="appMode=='web'">
                     <div class="col" style="max-height:90px; max-width:90px" ng-if="requestHeader.attachments==0"><img ng-src="{{defaultImage}}" height="90px" ></div>
                </div>

    <div class="row" style="padding-top:50px">
        
        <button class="btn button-small waves-effect waves-light button button-balanced  button-block waves-effect waves-light" ng-disabled="totalCurrentClaim == 0" style="font-weight:bold;background-color:#FF9800" ng-click="submitForm()">Submit</button>

    
    </div>

</div>

    </ion-content>
</ion-view>
