<ion-view title="Change Password">

  <ion-content class="has-header materialize" scroll="true" style="font-size:12px">

    <div class="item padding">
      <div class="row">
        <div class="input-field col">
          <p>Old Password</p>
          <input id="first_name" type="password" class="validate" ng-model="password.oldPassword" maxlength="20">
        </div>
      </div>
      <div class="row">
        <div class="input-field col">
          <p>New Password</p>
          <input id="first_name" type="password" class="validate" ng-model="password.newPassword" maxlength="20">

        </div>
      </div>
      <div class="row">
        <div class="input-field col">
          <p>Confirm New Password</p>
          <input id="last_name" type="password" class="validate" ng-model="password.confirmPassword" maxlength="20">
        </div>
      </div>

      <div class="row">
        <button class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light"
          ng-click="sendChangePassword()" style="font-weight:bold;background-color:#FF9800">Send</button>
      </div>
    </div>

  </ion-content>

</ion-view>
