<ion-view title="Check DPA Balance">
  <ion-content padding="true" class="has-header materialize" scroll="true">
    <div class="row">
      <button class="btn waves-effect waves-light button button-balanced  button-block waves-effect waves-light" style="font-weight:bold;background-color:#FF9800" ng-click="submitForm()" ng-disabled="toogling">Show</button>
      

    </div>
    <div class="list card" ng-show="Result" ng-if="status == 'DPA2'">
      <p align ="center" class="shades-text text-black "><strong>Total Saldo:</strong></p>
      <p align ="center" class="shades-text text-black "><strong>Rp. {{totalSaldo}}.00</strong></p>
      <br>
      <table >
        <tr >
          <td>
              <p align ="right" class="shades-text text-black "><strong>Total Pemberi Kerja</strong> </p>
          </td>
          <td style="padding:1px;border-collapse: collapse;">
              <p align ="center" class="shades-text text-black "><strong>:</strong> </p>
          </td>
          <td style="padding:1px;border-collapse: collapse;">
              <p align ="left" class="shades-text text-black "><strong>Rp. {{totalPK}}.00</strong> </p>
          </td>
        </tr>
        <tr>
            <td>
                <p align ="right" class="shades-text text-black "><strong>Total Peserta</strong> </p>
            </td>
            <td>
                <p align ="center" class="shades-text text-black "><strong>:</strong> </p>
            </td>
            <td>
                <p align ="left" class="shades-text text-black "><strong>Rp. {{totalPS}}.00</strong> </p>
            </td>
          </tr>
          <tr>
              <td>
                  <p align ="right" class="shades-text text-black "><strong>Periode</strong> </p>
              </td>
              <td>
                  <p align ="center" class="shades-text text-black "><strong>:</strong> </p>
              </td>
              <td>
                  <p align ="left" class="shades-text text-black "><strong>{{period}}</strong> </p>
              </td>
            </tr>
      </table>
    </div>

    <div class="list card" ng-show="Result" ng-if="status == 'DPA1'">
          <p align ="center" class="shades-text text-black "><strong>Estimasi Manfaat Pensiun:</strong></p>
          <p align ="center" class="shades-text text-black "><strong>Rp. {{totalSaldo}}.00</strong></p>
          <br>
          <table >
              <tr>
                  <td>
                      <p align ="right" class="shades-text text-black "><strong>Periode</strong> </p>
                  </td>
                  <td>
                      <p align ="center" class="shades-text text-black "><strong>:</strong> </p>
                  </td>
                  <td>
                      <p align ="left" class="shades-text text-black "><strong>{{period}}</strong> </p>
                  </td>
                </tr>
          </table>
      </div>

    <div class="list card materialize-red lighten-4 no-margin" style="line-height:75%;padding: 5px 5px 5px 5px" ng-if="status == 'DPA2'">
        <p align="center" class="shades-text text-black "><strong><dfn><small>DISCLAIMER</small></dfn></strong></p>
        <ul>
            <li>
              <p class="materialize-red-text justified no-margin" ><dfn><small style="font-size : 65%;">-> Peserta yang berhenti bekerja sebelum mencapai masa kepesertaan 3 tahun, maka hak peserta adalah akumulasi Iuran
                  Peserta selama menjadi peserta ditambah dengan bunga layak (sesuai dengan UU Dana Pensiun & Peraturan Dana Pensiun)
                  sehingga besar manfaat yang diterima akan berbeda dengan saldo yang tertera pada Saldo Manfaat Pensiun.</dfn>
                </small>
                </p>
            </li>
            <li>
              <p class="materialize-red-text justified no-padding no-margin">
                  <dfn><small style="font-size : 65%;">-> Sesuai dengan Peraturan Otoritas Jasa Keuangan Nomor 5. POJK.05/2017 mengenai Life Cycle Fund, 
                  peserta yang telah mencapai usia 52 Tahun 6 Bulan maka kelompok investasi peserta menjadi Kelompok 
                  Investasi Terproteksi . 
                  Untuk penjelasan lebih lanjut silahkan akses <a href="https://www.dapenastra.com">www.dapenastra.com</a></dfn>
                  </small>
                </p>
            </li>
          </ul>
    </div>
    
    <div class="list card materialize-red lighten-4 no-margin" style="line-height:75%;padding: 5px 5px 5px 5px" ng-if="status == 'DPA1'">
          <p align="center" class="shades-text text-black "><strong><dfn><small>DISCLAIMER</small></dfn></strong></p>
          <ul>
              <li>
                <p class="materialize-red-text justified no-margin" ><dfn><small style="font-size : 65%;">-> DPA1 adalah Dana Pensiun yang mengelola Program Pensiun Manfaat Pasti (PPMP) yang <strong>terdaftar pada atau sebelum 20 April 1992.</strong></dfn>
                  </small>
                  </p>
              </li>
              <li>
                      <p class="materialize-red-text justified no-margin" >
                          <dfn>
                              <small style="font-size : 65%;">
                                  -> Estimasi MP tersebut merupakan perhitungan MP sampai dengan periode bulan terupdate.</dfn>
                              </small>
                      </p>
                  
              </li>
              <li>
                      <p class="materialize-red-text justified no-margin" >
                          <dfn>
                              <small style="font-size : 65%;">
                                      -> Perhitungan manfaat pensiun DPA1 sudah ditetapkan dalam Peraturan Dana Pensiun dan dihitung berdasarkan rumus sebagai berikut:
                                  </dfn>
                              </small>
                      </p>
              </li>
              <br>
              <li>
                  <p class="materialize-red-text center no-margin">
                      <dfn>
                          <small style ="font-size : 65%;">
                                  <strong>Faktor* x NS** x PhDP***</strong>
                          </small>
                      </dfn>
                          
                  </p>
              </li>
              <br>
              <li>
                <p class="materialize-red-text justified no-padding no-margin">
                    <dfn><small style="font-size : 65%;">-> Bagi peserta dengan Manfaat Pensiun dipercepat (keluar sebelum usia 55 tahun) maka manfaat Pensiun akan diperhitungkan dengan Nilai Sekarang  
                    (dapat dilihat di DPA Mobile atau <a href="https://www.dapenastra.com">www.dapenastra.com</a>)</dfn>
                    </small>
                  </p>
              </li>
            </ul>
      </div>

    <footer class="mt">
        <div style="line-height:75%;" ng-if="status == 'DPA2'">
              <p class="materialize-red-text justified no-padding no-margin"><small style="font-size : 65%;">*Total Pemberi Kerja = Akumulasi Iuran Pemberi Kerja + Akumulasi Hasil Pengembangan Pemberi Kerja</small></p>
              <p class="materialize-red-text justified no-padding no-margin"><small style="font-size : 65%;">Total Peserta = Akumulasi Iuran Peserta + Akumulasi Hasil Pengembangan Peserta</small></p>
              <p class="materialize-red-text justified no-padding no-margin"><small style="font-size : 65%;">Total Saldo = Total Pemberi Kerja + Total Peserta</small></p>
              <br>
              <br>
              <p class="shades-text text-black center"><small style="font-size : 65%;">Info lebih lanjut silahkan download DPA Mobile</small></p>
              <p class="center"><a href="market://details?id=com.dpa.mobile"><img src="img/talents/googleplay.jpg"></a></p>
        </div>
        <div style="line-height:75%;" ng-if="status == 'DPA1'">
              <p class="materialize-red-text justified no-padding no-margin"><small style="font-size : 68%;">* Faktor : dihitung berdasarkan Masa Kerja</small></p>
              <p class="materialize-red-text justified no-padding no-margin"><small style="font-size : 68%;">** NS : Nilai Sekarang</small></p>
              <p class="materialize-red-text justified no-padding no-margin"><small style="font-size : 68%;">*** PhDP : merupakan rata-rata Gaji Pokok selama 24 bulan terakhir</small></p>
              <br>
              <br>
              <p class="shades-text text-black center"><small style="font-size : 65%;">Info lebih lanjut silahkan download DPA Mobile</small></p>
              <p class="center"><a href="market://details?id=com.dpa.mobile"><img src="img/talents/googleplay.jpg"></a></p>
        </div>
      </footer>
  </ion-content>
</ion-view>
