<ion-view title="Detail Purpose" cache-view="false">
  <style type="text/css">
    .scroll {
      height: 100%;
    }

  </style>
  <ion-content class="profile has-header" scroll="true">

    <div class="row">
      <div class="input-field col">
        <p><b>Purpose</b></p>
        <select ng-model="dataDetail.purpose">
          <option value="">-- Select By --</option>
          <option value="MTGL">Meeting</option>
          <option value="DNS">Perjalanan Dinas</option>
          <option value="TRN">Training/Seminar</option>
          <option value="DNSL">Dinas Diluar Kantor</option>
          <option value="DNSL">Work From Home</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="input-field col">
        <p><b>Remark</b></p>
        <textarea class="form-control textarea-border" ng-model="dataDetail.remark"></textarea>
      </div>
      <br>
    </div>
    <hr>

    <button class="button button-positive button-block" ng-click="submit()">
      Update
    </button>
    </div>
  </ion-content>
</ion-view>
